<div id="right_column_flip" class="right_column_flip">

  <h2>Hulp</h2>

  <ul class="no_bullets">
    <li><%= link_to_unless_current 'Over de Wob-Knop', help_about_path %></li>
    <li><%= link_to_unless_current 'Wobben', help_requesting_path %></li>
    <% if feature_enabled?(:alaveteli_pro) %>
      <li><%= link_to_unless_current 'Voor journalisten', help_pro_path %></li>
    <% end %>
    <li><%= link_to_unless_current 'Privacy', help_privacy_path %></li>
    <li><%= link_to_unless_current 'Database doorzoeken', advanced_search_path %></li>
    <li><%= link_to_unless_current 'Voor Wob-ambtenaren', help_officers_path %></li>
    <li><%= link_to_unless_current 'Credits', help_credits_path %></li>
    <li><%= link_to_unless_current 'Software', help_alaveteli_path %></li>
    <li><%= link_to_unless_current 'API', help_api_path %></li>
    <li><%= link_to_unless_current 'Veelgestelde vragen', help_faqs_path %></li>
  </ul>

  <h2>Hoe Het Werkt</h2>

  <ul class="no_bullets">
    <li><%= link_to_unless_current 'Stap voor stap', help_step_by_step_path %></li>
    <li><%= link_to_unless_current 'Na je verzoek', help_after_your_request_path %></li>
    <li><%= link_to_unless_current 'Bezwaar en beroep', help_objections_and_appeals_path %></li>
    <li><%= link_to_unless_current 'Wettelijk kader', help_legal_framework_path %></li>
  </ul>

  <h2 id="contact" class="contact">Contact</h2>

  <p>
    Neem <%= link_to 'contact', help_contact_path %> met ons op als je vraag er
    niet tussen staat.
  </p>
</div>
