<% @title = 'Overheidsinstantie kiezen' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="overheidsinstantie-kiezen">
    <%= @title %>
    <a href="#overheidsinstantie-kiezen">#</a>
  </h1>

  <h2>
    Hoe weet ik dat ik de juist overheidsinstantie kies?
  </h2>

  <p>
    Het kan door de ingewikkelde structuur van de overheid lastig zijn om te
    ontrafelen welke overheidsinstantie de informatie die je nodig hebt bezit.
    Hieronder staan enkele nuttige tips:
  </p>

  <ul>
    <li>
      Zoek in de database van de Woo-Knop naar soortgelijke verzoeken: bij
      welke instantie zijn zulke verzoeken eerder ingediend?
    </li>

    <li>
      Wanneer je nog twijfelt of je de juiste overheidsinstantie hebt gevonden,
      klik dan bij de contactgegevens van de overheidsinstantie op ‘Website’ om
      op hun website na te gaan wat ze precies doen.
    </li>

    <li>
      Of contacteer de overheidsinstantie door te bellen of te e-mailen en
      vraag of ze inderdaad beschikken over de informatie die je zoekt.
    </li>

    <li>
      Wees niet te bezorgd over het vinden van de juiste overheidsinstantie.
      Als je je vergist, is de overheid verplicht je verzoek door te sturen .
    </li>
  </ul>

  <h2>
    Wat als de overheidsinstantie waar ik mijn verzoek wil indienen er niet
    tussen staat?
  </h2>

  <p>
    In de loop van 2022 zouden alle overheidsinstanties die wel onder de Woo
    vallen, zouden in onze database moeten staan. Neem dus
    <%= link_to 'contact', help_contact_path %> met ons op om ons de naam van
    de ontbrekende overheidsinstantie door te geven, het liefst samen met het
    e-mailadres voor Woo-Wob-verzoeken als je die hebt.
  </p>

  <p>
    Het is ook mogelijk dat de organisatie die je op het oog hebtniet ‘onder de
    Woo’ valt, ook al is de organisatie betrokken bij de uitvoering van
    overheidsbeleid Denk bijvoorbeeld aan private bedrijven met een wettelijke
    taak, zoals de meeste energiemaatschappijen en private universiteiten en
    ziekenhuizen. Maar denk ook niet te gauw dat een overheidsinstantie niet
    onder de Woo valt: Holland Marketing, particuliere TBS-klinieken en de
    Stichting Studiecentrum Rechtspleging zijn bijvoorbeeld overheidsinstanties
    die onder de Woo vallen.
  </p>

  <p>
    Alle overheidsinstanties die wel onder de Woo vallen, zouden in onze
    database moeten staan. Neem dus <%= link_to 'contact', help_contact_path %>
    met ons op om ons de naam van de ontbrekende overheidsinstantie door te
    geven, het liefst samen met het e-mailadres voor Woo-verzoeken als je die
    hebt.
  </p>

  <p>
    Verder zijn er ook organisaties die geen overheidsinstanties zijn maar wel
    bij wet de verantwoordelijkheid hebben over de uitvoering van een publieke
    taak. Zoals bijvoorbeeld een garagehouder voor wat betreft APK’s. Voor dat
    specifieke deel van het werk van de garagehouder, kan de garagehouder
    gevraagd worden om openbaarmaking van informatie. Kortom, we hebben de
    ambitie om een volledige database te bieden maar ieders hulp om onze lijst
    met overheidsinstanties aan te vullen is welkom!
  </p>

  <h2>
    Waarom kan ik via de Woo-Knop een verzoek doen aan overheidsinstanties die
    weigeren om Woo-verzoeken via de Woo-Knop in behandeling te nemen?
  </h2>

  <p>
    Onder de Wet open overheid zijn overheidsinstanties verplicht om
    Woo-verzoeken die digitaal zijn ingediend in behandeling te nemen.
    Letterlijk staat er in de wet: verzoeken mogen elektronisch worden
    verzonden. Wel mogen overheden daar een speciaal e-mailadres voor aanwijzen
    of een online formulier inrichten op de website voor het indienen van
    Woo-verzoeken. In ieder geval zijn de ambtenaren verplicht om verzoeken die
    niet op de door de overheidsinstantie voorgeschreven wijze zijn ingediend,
    intern door te sturen naar de juiste mailbox. Kortom, verzoeken die via de
    Woo-Knop worden ingediend mogen niet om die reden buiten behandeling worden
    gelaten.
  </p>

  <p>
    We proberen bij te houden welke digitale weg - welke mailbox - de voorkeur
    heeft voor de betreffende overheidsinstanties, zodat verzoeken zo snel
    mogelijk op de juiste plek terecht komen.
  </p>

  <p>
    Het blijft uiteraard wel zaak om zelf goed in de gaten te houden of, en
    hoe, de instantie op je Woo-verzoek reageert.
  </p>

  <h1 id="het-schrijven-van-je-verzoek">
    Het schrijven van je verzoek
    <a href="#het-schrijven-van-je-verzoek">#</a>
  </h1>

  <h2>
    Wat moet absoluut niet in mijn verzoek staan?
  </h2>

  <p>
    Absoluut te vermijden zijn volgende zaken:
  </p>

  <ol>
    <li>
      Informatie of argumenten betreffende een <strong>persoonlijk
        probleem</strong>.
    </li>

    <li>
      <strong>Contactgegevens waarvan je liever niet wilt dat ze openbaar
        worden</strong>, aangezien je verzoek gepubliceerd zal worden op de
      Woo-Knop.
    </li>

    <li>
      Verklaringen die anderen kunnen <strong>kwetsen of beledigen</strong>.
      Woo-verzoeken met kwetsende of beledigende verklaringen worden verwijderd.
    </li>
  </ol>

  <h2>
    Waarom moet mijn verzoek doelgericht blijven?
  </h2>

  <p>
    De Woo is niet bedoeld voor correspondentie met de overheid oftoelichtingen
    op overheidsbeleid.De Woo geeft je simpelweg het recht om te vragen naar
    documenten, gegevens of data, kortom: alles dat is vastgelegd op
    gegevensdragers.
  </p>

  <p>
    Een voorbeeld. Vraag niet: ‘Waarom doen jullie X of Y?’ of ‘Wat vinden
    jullie van de gevolgen van het beleid op het gebied van X of Y?’ Je loopt
    dan het risico dat je vraag niet zal worden opgevat als een Woo-verzoek en
    niet als zodanig in behandeling zal worden genomen. Vraag dus liever om
    ‘alle documenten over X’. Mogelijk worden in die documenten de vragen naar
    het waarom van het beleid en de reactie binnen de overheid duidelijk.
  </p>

  <p>
    Tot slot: korte, duidelijke boodschappen maken het voor overheidsinstanties
    makkelijker om snel en efficiënt te antwoorden. Dat is ook in je eigen
    voordeel.
  </p>

  <h2>
    Wat kan ik verder doen om effectief om openbaarheid van overheidsinformatie
    te vragen?
  </h2>

  <p>
    Op de pagina ‘De Woo-Knop gebruiken’ vind je al de nodige tips. Hier staan
    er alvast een paar:
  </p>

  <ul>
    <li>
      <p>
        <strong>Wees zorgvuldig en precies</strong>
      </p>

      <p>
        Neem de tijd om je verzoek zorgvuldig en specifiek te formuleren.
        Voordat je je antwoord hebt, kunnen er al vele weken voorbij zijn. Je
        wil dan niet opnieuw moeten beginnen omdat je formulering niet juist of
        onvolledig blijkt. Neem ook de tijd om de juiste overheidsinstantie te
        selecteren. Ja, overheden zijn verplicht om verzoeken naar de juiste
        instantie door te sturen maar ook daar kunnen weken overheen gaan.
      </p>
    </li>

    <li>
      <p>
        <strong>Vraag niet om te veel tegelijk</strong>
      </p>

      <p>
        Vraag je af hoeveel documenten er bestaan die binnen je verzoek kunnen
        vallen en of je dat wel wil. Dat heeft twee redenen. Één: Hoe
        omvangrijker een verzoek, hoe langer de overheid er mogelijk over zal
        doen om te beslissen. Er is ook een kans dat de overheid zo’n verzoek
        zal proberen in te perken. De overheidsinstantie is dan wel verplicht
        binnen vier weken hierover met je in overleg te treden. Twee: vraag je
        af of je alle documenten die je straks gaat krijgen wel kunt verwerken.
      </p>
    </li>

    <li>
      <p>
        <strong>Wees streng maar beleefd</strong>
      </p>

      <p>
        Hou bij treuzelende overheidsinstanties de druk op de ketel, maar blijf
        beleefd. Je hebt er niets aan om de betrokken ambtenaren tegen je in
        het harnas te jagen.
      </p>
    </li>
  </ul>

  <h2>
    Kan ik via de Woo-Knop een verzoek om informatie indienen over mezelf?
  </h2>

  <p>
    Nee, de Woo-Knop helpt bij het indienen van een verzoek om openbare
    overheidsinformatie.
  </p>

  <p>
    Indien je wil weten welke persoonsgegevens een overheidsinstantie van jou
    bezit (‘jouw dossier’), kun je met een zogenaamd ‘<a
    href="https://www.bitsoffreedom.nl/2018/05/25/de-nieuwe-europese-privacyregels-dit-zijn-jouw-rechten/">inzageverzoek</a>’
    de betreffende overheidsinformatie opvragen.
  </p>

  <h2>
    Kan ik mijn verzoek om informatie geheim houden (ten minste tot ik mijn
    artikel heb gepubliceerd)?
  </h2>

  <p>
    Ja, vooralsnog kunnen gebruikers alleen op verzoek toegang krijgen tot de
    Pro-versie van de Woo-Knop. Als je journalist bent en je je Woo-verzoek tot
    publicatie geheim wilt houden, kijk dan
    <%= link_to 'hier', help_pro_path %> voor meer informatie.
  </p>

  <h2>
    Kan ik eenzelfde verzoek naar verschillende overheidsinstanties sturen,
    bijvoorbeeld naar meerdere gemeenten tegelijk?
  </h2>

  <p>
    Ja, dat kan, bijvoorbeeld als je op zoek bent naar verschillen tussen
    gemeentes of juist een bepaald patroon. Het kan wel verstandig zijn om
    eerst een Woo-verzoek naar een of een paar overheidsinstanties te sturen.
    Al naar gelang het resultaat kun je dan je verzoek om informatie
    aanscherpen. Bovendien kan je hiermee voorkomen dat je in een keer onnodig
    veel documenten toegestuurd krijgt.
  </p>

  <p>
    Vooralsnog kunnen alleen journalisten op verzoek toegang krijgen tot de
    Pro-versie van de Woo-Knop waarbij het mogelijk is om zogenaamde
    bulkverzoeken te versturen: hetzelfde verzoek naar een groot aantal
    overheidsinstanties tegelijk.
  </p>

  <h1 id="bijzondere-verzoeken">
    Voor journalisten
    <a href="#bijzondere-verzoeken">#</a>
  </h1>

  <h2>
    Waarom kan ik geen bijlagen meesturen met een verzoek via de Woo-Knop?
  </h2>

  <p>
    Voor een Woo-verzoek is het over het algemeen niet nodig om bijlagen mee te
    sturen, vandaar dat deze functie niet beschikbaar is. In de uitzonderlijke
    gevallen dat dit toch nodig is, bijvoorbeeld in correspondentie volgend op
    je verzoek, kun je de stukken uploaden via sites als Google Docs,
    Flickr.com of Scribd.com en dan een link naar de stukken in je bericht
    zetten.
  </p>

  <h1 id="kosten">
    Kosten
    <a href="#kosten">#</a>
  </h1>

  <h2>
    Wat kost het mij om een verzoek in te dienen?
  </h2>

  <p>
    Voor een verzoek tot het verstrekken van openbare overheidsinformatie mag
    de overheid geen kosten vragen.
  </p>

  <p>
    Maar let op: overheidsinstanties mogen een redelijke vergoeding vragen om
    de kopieerkosten te dekken. Zet daarom altijd in je verzoek dat je er de
    voorkeur aan geeft om de documenten digitaal te ontvangen! En zet er ook in
    dat je wilt dat de overheidsinstantie contact met je opneemt voordat de
    kosten die ze aan jou willen doorberekenen gemaakt worden.
  </p>

  <p>
    Ook een bezwaarprocedure tegen de beslissing op jouw verzoek is gratis. Pas
    als je in beroep gaat, bij de rechter, betaal je een eigen bijdrage
    (griffierechten). Die je vervolgens door de overheidsinstantie terugbetaald
    krijgt als je door de rechter in het gelijk wordt gesteld.
  </p>

  <p>
    Zie <%= link_to 'hier', help_objections_and_appeals_path %> meer informatie
    over bezwaar en beroep.
  </p>

  <h1 id="termijnen">
    Termijnen
    <a href="#termijnen">#</a>
  </h1>

  <h2>
    Hoe snel krijg ik een antwoord?
  </h2>

  <p>
    Als het goed is, ontvang je allereerst binnen een week een
    ontvangstbevestiging van de overheid.
  </p>

  <p>
    Overheidsorganen zijn wettelijk verplicht om <strong>binnen 4 weken</strong>
    op je verzoek te beslissen. Helaas zijn daar er aantal <strong>
    uitzonderingen</strong> op die regel:
  </p>

  <ol>
    <li>
      Het overheidsorgaan kan de beslissing met <strong>nog eens 2 weken
      </strong> uitstellen, als de beantwoording van het verzoek - naar het
      oordeel van de overheidsinstantie - meer tijd kost.
    </li>

    <li>
      Als er anderen (personen, organisaties, overheidsinstanties, bedrijven)
      in de gevraagde documenten genoemd worden, kan de overheidsinstantie hen
      <strong>enkele weken</strong> (meestal 2 weken) de gelegenheid geven om
      tegen de verstrekking van de documenten bezwaar te maken.
    </li>
  </ol>

  <p>
    De Woo-Knop stuurt je drie dagen voordat een termijn verstrijkt zonder dat
    je antwoord hebt ontvangen automatisch een herinnering.
  </p>

  <h2>
    Hoe snel moet ik zelf reageren op beslissingen van de overheid?
  </h2>

  <p>
    Je hebt <strong>zes weken</strong> de tijd om tegen de beslissing op je
    verzoek bij dezelfde overheidsinstantie in bezwaar te gaan en vervolgens
    wederom <strong>zes weken</strong> om tegen de beslissing op je bezwaar in
    beroep te gaan bij de rechter.
  </p>

  <h1 id="database">
    Database
    <a href="#database">#</a>
  </h1>

  <h2>
    Ik heb buiten de Woo-Knop om een Woo-verzoek ingediend en wil deze
    overzetten naar de database van de Woo-Knop. Is dit mogelijk?
  </h2>

  <p>
    Nee.
  </p>

  <h2>
    Hoe zoek ik in de database naar Wob- en Woo-verzoeken die eerder al gedaan
    zijn of nog lopen?
  </h2>

  <p>
    Kijk <%= link_to 'hier', advanced_search_path %> voor tips.
  </p>

  <h1 id="privacy">
    Privacy
    <a href="#privacy">#</a>
  </h1>

  <h2>
    Waar kan ik jullie privacybeleid vinden?
  </h2>

  <p>
    Zie <%= link_to 'hier', help_privacy_path %> ons privacybeleid.
  </p>

  <h1 id="over-de-woo-knop">
    Over de Woo-Knop
    <a href="#over-de-woo-knop">#</a>
  </h1>

  <p>
    De Woo-Knop is afgeleid van de succesvolle Britse website
    <a href="https://www.whatdotheyknow.com">WhatDoTheyKnow.com</a>.
  </p>

  <p>
    De software waar de website op draait heet
    <a href="https://alaveteli.org">Alaveteli</a> en is ontwikkeld door
    <a href="https://www.mysociety.org">mySociety</a>.
  </p>

  <p>
    De Woo-Knop is financieel mogelijk gemaakt door
    <a href="https://www.adessium.org/nl">Adessium</a> en met hulp van de
    Vlaams-Nederlandse Vereniging van Onderzoeksjournalisten (VVOJ) in
    Nederland geïntroduceerd.
  </p>

  <h2>
    Wie beheert de Woo-Knop?
  </h2>

  <p>
    De Woo-Knop wordt onderhouden door mySociety en beheerd door de
    Vlaams-Nederlandse Vereniging van Onderzoeksjournalisten (VVOJ).
  </p>

  <p>
    De Woo-Knop maakt op geen enkele manier deel uit van de Nederlandse
    overheid en opereert volstrekt onafhankelijk.
  </p>

  <h2>
    Worden de opmerkingen van andere gebruikers bij de Woo-verzoeken
    gemodereerd?
  </h2>

  <p>
    De mogelijkheid voor andere gebruikers om opmerkingen te plaatsen bij jouw
    Woo-verzoeken zijn bedoeld om jou te helpen zo effectief mogelijk om
    openbaarheid van overheidsinformatie te vragen.
  </p>

  <p>
    De Woo-Knop heeft het recht om alle opmerkingen te verwijderen die dit doel
    niet dienen. Ook politieke discussies zijn niet toegestaan.
  </p>

  <h2>
    Wat te doen bij een verzoek dat ongepast lijkt?
  </h2>

  <p>
    Vragen naar persoonlijke informatie of anderszins ongepaste verzoeken zijn
    niet toegestaan op de Woo-Knop. Als u denkt dat een vraag ongepast is, mag
    je dit signaleren aan de beheerders van de website.
  </p>

  <p>
    Een verzoek is onder meer ongepast als het niet (primair) tot doel heeft om
    overheidsinformatie op te vragen.
  </p>

  <h2>
    Waarom is het niet mogelijk om bepaalde vragen door te geven aan de
    beheerders van de Woo-Knop?
  </h2>

  <p>
    Als een opmerking al eerder is doorgegeven aan de beheerders van de
    website, is het niet mogelijk om deze een tweede keer door te geven – dit
    is om te vermijden dat beheerders meerdere meldingen krijgen voor hetzelfde
    probleem nog voordat ze de kans hebben gekregen dit uit te zoeken.
  </p>

  <p>
    Het kan zijn dat de beheerders ervoor kiezen een opmerking die als ongepast
    is geïdentificeerd zichtbaar te laten. Je kunt de beheerders van de
    Woo-Knop vragen de opmerking toch te verbergen
  </p>

  <h2>
    Hebben jullie gebruikersvoorwaarden?
  </h2>

  <p>
    Jazeker, zie de Gebruikersvoorwaarden.
  </p>

  <h1 id="informatie-voor-wob-ambtenaren">
    Informatie Voor (Woo-)ambtenaren
    <a href="#informatie-voor-wob-ambtenaren">#</a>
  </h1>

  <h2>
    Help ik heb een Woo-verzoek ontvangen via de Woo-Knop! Wat nu?
  </h2>
  <p>
    Het Woo-verzoek dat u heeft ontvangen is door een gebruiker van de Woo-Knop
    ingediend. U kunt het verzoek in behandeling nemen zoals elk anderszins
    ingediend informatieverzoek van een burger. De enige verschillen zijn dat
    de communicatie tussen u en de gebruiker via de Woo-Knop zal verlopen en
    dat uw antwoord automatisch zal worden gepubliceerd op deze site.
  </p>

  <p>
    Als u vragen heeft in verband met privacy, klik dan hier. Op de site kunt u
    eveneens de overheidsinstantie waarvoor u werkt opzoeken en bekijken welke
    andere documenten reeds werden opgevraagd via de Woo-Knop.
  </p>

  <p>
    We staan open voor alle opmerkingen en bedenkingen van ambtenaren
    verantwoordelijk voor de afhandeling van Woo-verzoeken bij een
    overheidsinstelling. Aarzel niet om contact met ons op te nemen.
  </p>

  <p>
    Lees <%= link_to 'hier', help_officers_path %> meer over de Woo-Knop voor
    Woo-ambtenaren
  </p>

  <div id="hash_link_padding"></div>
</div>
