<% @title = 'Meer info voor Wob-ambtenaren' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1><%= @title %></h1>

  <h2>
    Er is een digitaal Wob-verzoek bij mij binnengekomen via deze website. Hoezo?
  </h2>

  <p>
    De Wob-Knop is een initiatief van de Vlaams-Nederlandse Vereniging voor
    Onderzoeksjournalisten (VVOJ). Deze site helpt burgers om documenten op te
    vragen en maakt de antwoorden op deze aanvragen toegankelijk voor iedereen.
  </p>

  <p>
    Het Wob-verzoek dat u heeft ontvangen is door een gebruiker van de Wob-Knop
    ingediend. U kunt het verzoek in behandeling nemen zoals elk anderszins
    ingediend informatieverzoek van een burger. De enige verschillen zijn dat
    de communicatie tussen u en de gebruiker via de Wob-Knop zal verlopen en
    dat uw antwoord automatisch zal worden gepubliceerd op deze site.
  </p>

  <p>
    Als u vragen heeft in verband met privacy, klik dan hier. Op de site kunt u
    eveneens de overheidsinstantie waarvoor u werkt opzoeken en bekijken welke
    andere documenten reeds werden opgevraagd via de Wob-Knop.
  </p>

  <p>
    We staan open voor alle opmerkingen en bedenkingen van ambtenaren
    verantwoordelijk voor de afhandeling van Wob-verzoeken bij een
    overheidsinstelling. Aarzel niet om contact met ons op te nemen.
  </p>


  <h2>
    Waarom heeft de VVOJ deze mogelijkheid in Nederland geïntroduceerd?
  </h2>

  <p>
    Burgers, journalisten en onderzoekers ervaren de papieren Wob-procedures
    als een van de drempels om te gaan wobben. Niet alleen werpen de noodzaak
    van een printer, enveloppen, postzegels en een brievenbus in de buurt een
    fysieke drempel op, het is voor jonge generaties ook niet meer van deze
    tijd.
  </p>

  <p>
    Maar deze site doet meer dan alleen de ‘elektronische weg’ open te stellen
    voor Wob-verzoeken. De Wob-Knop maakt het ook mogelijk voor burgers om
    makkelijk eerdere verzoeken en documenten te doorzoeken.
  </p>

  <p>
    In omringende landen zoals het Verenigd Koninkrijk, Duitsland en België is
    het al enige jaren mogelijk om verzoeken tot verstrekking van
    overheidsdocumenten digitaal in te dienen en de documenten digitaal te
    ontvangen. Ook voor de Europese Unie bestaat deze mogelijkheid al jaren.
    Voor overheden in deze gebieden is het inmiddels volstrekt normaal dat
    verzoeken via deze weg binnenkomen en worden afgehandeld. Zo wordt in het
    VK 40% van de Wob-verzoeken via zo’n site ingediend.
  </p>

  <p>
    Kortom, de hoogste tijd dat Nederland bij deze ontwikkeling aansluit.
  </p>

  <h2>
    Het sturen van een e-mail is toch niet voldoende om overheidsdocumenten op
    te vragen?
  </h2>

  <p>
    Toch wel. De wetgeving over de openbaarheid van bestuur vereist dat
    aanvragen schriftelijk (of mondeling) worden ingediend. E-mails gelden als
    een vorm van schriftelijke communicatie. De wet staat dus toe dat
    Wob-verzoeken per e-mail worden gedaan en behandeld.
  </p>

  <p>
    Er zijn overheden (geweest) die de elektronische weg voor het indienen van
    Wob-verzoeken (tijdelijk) hebben afgesloten omdat dit mogelijk misbruik van
    de Wob voor het innen van dwangsommen in de hand zou werken. In
    uitzonderlijke gevallen is dit door de rechter als beleidskeuze
    gesanctioneerd. Nu de mogelijkheid tot het geautomatiseerd innen van
    dwangsommen voor niet op tijd afgehandelde Wob-verzoeken door een
    wetswijziging onmogelijk is gemaakt, is er geen goede reden meer om het
    doen van elektronisch ingediende Wob-verzoeken te beperken.
  </p>

  <p>
    Laagdrempelige toegang tot overheidsinformatie is bovendien een beginsel
    dat breed gedeeld wordt door de overheid. Het op eenvoudige en uniforme
    wijze kunnen indienen van digitale Wob-verzoeken is een belangrijke stap in
    die richting. En wederom, in de ons omringende landen en de EU vinden
    ambtenaren het volkomen normaal om via een vergelijkbare website
    Wob-verzoeken te behandelen en beantwoorden.
  </p>

  <h2>
    Hoe kan ik het verzoek beantwoorden?
  </h2>

  <p>
    U kunt het verzoek op twee manieren beantwoorden.
  </p>

  <ol>
    <li>
      Met een reply naar het e-mailadres waarvan u het verzoek ontvangen heeft.
    </li>

    <li>
      Op de pagina op de Wob-Knop over het betreffende verzoek.
    </li>
  </ol>

  <p>
    Dit geldt voor alle communicatie over het verzoek: van
    ontvangstbevestigingen, tot tussentijds overleg over bijvoorbeeld
    verduidelijking of inperking van het verzoek, tot uw besluit op het
    verzoek.
  </p>

  <h2>
    Zijn de mensen die aanvragen opstellen echte personen?
  </h2>

  <p>
    Ja. Voor uw communicatie met de verzoeker gebruikt u weliswaar een door
    deze website gegenereerd e-mailadres, maar om via de Wob-Knop een verzoek
    in te dienen dient hij of zij zich te registeren op de website met een
    uniek en geverifieerd e-mailadres.
  </p>

  <p>
    De transparantie die deze website betracht is wederzijds. Gebruikers kunnen
    zien welke verzoeken uw organisatie al heeft behandeld en hoe. Maar u kunt
    als ambtenaar op de site ook een overzicht vinden van alle verzoeken die
    een gebruiker heeft ingediend.
  </p>

  <h2>
    Vindt u niet dat er veel hinderlijke verzoeken worden ingediend?
  </h2>

  <p>
    Voor alle duidelijkheid: de Wob-Knop dient zelf geen verzoeken in. We
    verzenden verzoeken voor de gebruikers van de website. Ongepaste verzoeken
    verwijderen wij van de site. Bovendien kunt u gemakkelijk nakijken of één
    van onze gebruikers bewust hinderlijke verzoeken indient aangezien alle
    aanvragen openbaar zijn.
  </p>


  <h2>
    Er staat een verzoek op de Wob-Knop waarover wij nooit een e-mail ontvangen
    hebben. Hoe kan dat?
  </h2>

  <p>
    Wanneer een verzoek op de website verschijnt, hebben wij getracht om dit
    door te sturen naar de overheidsinstelling. Alle foutmeldingen (“delivery
    failure” e.d.) verschijnen automatisch op de website. U kunt controleren
    welk van uw e-mailadressen wij gebruiken om verzoeken naar u te versturen
    via de link “Bekijk het e-mailadres voor een Wob-verzoek” op de pagina over
    uw overheidsinstantie op deze site. Gelieve ons te
    <%= link_to 'contacteren', help_contact_path %> indien dit adres niet klopt
    en we een ander e-mailadres moeten gebruiken.
  </p>

  <p>
    Soms wordt een verzoek tegengehouden door een anti-spam filter. U kan uw
    IT-afdeling vragen om e-mails afkomstig van het domein
    <strong>@wob-knop.nl</strong> toe te laten. <%= link_to 'Op uw vraag',
    help_contact_path %> kunnen we alle aanvragen die reeds werden gedaan
    doorgeven en/of technische details geven in verband met foutmeldingen
    zodat uw IT-afdeling het probleem kan aanpakken.
  </p>

  <h2>
    Hoe wordt de deadline die op een verzoekpagina staat berekend?
  </h2>

  <p>
    De Wob-Knop toont bij ieder verzoek de maximale termijn voorzien door de
    wetgeving om het verzoek te beantwoorden. Als de overheidsinstantie met
    onderbouwing de beslistermijn uitstelt, houdt de site dat bij.
  </p>

  <p>
    Indien de overheidsinstantie bijkomende informatie vraagt, vraagt de site
    de verzoeker om het moment door te geven waarop ze hun verzoek hebben
    verduidelijkt. Dit moment wordt dan gebruikt om de termijn opnieuw te
    berekenen.
  </p>

  <p>
    De berekende datum verschijnt bij de aanvragen op de volgende manier:
    “Momenteel in afwachting van een antwoord van XXX. Deze overheidsinstantie
    dient ten laatste te antwoorden op XXX”.
  </p>

  <h2>
    Hoe kan ik een bestand versturen dat te groot is om per e-mail te verzenden?
  </h2>

  <p>
    In plaats van per e-mail te antwoorden kunt u ook direct via de site
    antwoorden en bestanden uploaden. Om dit te doen moet u kiezen voor de link
    'beantwoorden verzoek' onderaan elke verzoekpagina. De limiet (50 Mb) is
    twee keer zo groot als bijvoorbeeld Gmail (25 Mb).
  </p>

  <h2>
    Waarom publiceert u de namen van ambtenaren en de tekst van e-mails?
  </h2>

  <p>
    We zijn de mening toegedaan dat wat ambtenaren communiceren in het kader van
    hun taak informatie van openbaar nut is. We zullen enkel informatie weghalen
    van de website in uitzonderlijke situaties (zie verder:
    “<%= link_to 'Kunnen jullie mijn persoonlijke gegevens verwijderen?',
    help_privacy_path(anchor: 'takedown') %>”.)
  </p>

  <h2>
    Publiceert u ook e-mailadressen en telefoonnummers?
  </h2>

  <p>
    Om spam te vermijden halen we automatisch de meeste e-mailadressen en
    mobiele telefoonnummers weg uit antwoorden op verzoeken. U kan ons
    contacteren indien dit niet gebeurd is voor een bepaald telefoonnummer of
    e-mailadres. Om technische redenen kunnen we nummers en adressen niet
    altijd weghalen uit bepaalde bijlagen zoals in het geval van PDF-bestanden.
  </p>

  <p>
    Indien u een weggehaald e-mailadres zou willen kennen, kan u
    <%= link_to 'contact', help_contact_path %> met ons opnemen. Soms maakt een
    e-mailadres een belangrijk deel uit van een antwoord en zullen wij dit
    e-mailadres dan ook weergeven, maar dan in een verborgen commentaar.
  </p>

  <h2>
    Waarom worden de antwoorden op aanvragen van bestuursdocumenten
    gepubliceerd?
  </h2>

  <p>
    Wij denken dat er veel voordelen zijn verbonden aan publicatie. Het zal
    burgers aanzetten om meer interesse te tonen en betrokken te zijn bij het
    werk van de overheid en overheidsinstellingen. Aangezien het hier gaat om
    informatie met betrekking tot de openbare dienstverlening die iedereen kan
    opvragen bij een overheidsinstelling, zien we geen enkele reden om deze
    niet te publiceren. We hopen ook dat door publicatie er minder vaak
    dezelfde vragen zullen worden ingediend.
  </p>

  <div id="hash_link_padding"></div>
</div>
