<% @title = 'Help, ik heb een Woo-verzoek ontvangen via de Woo-Knop!' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

  <p>
    De Woo-Knop helpt bij het opvragen van documenten bij overheidsinstanties.
  </p>

  <p>
    Het Woo-verzoek dat u heeft ontvangen is door een gebruiker van de Woo-Knop
    ingediend. U kunt het verzoek in behandeling nemen zoals elk anderszins
    ingediend Woo-verzoek. Het enige verschil is dat
    de communicatie tussen u en de gebruiker via de Woo-Knop zal verlopen en
    dat uw antwoord automatisch zal worden gepubliceerd op deze site.
  </p>

  <p>
    Als u vragen heeft in verband met de privacy van uzelf of de indiener van
    het verzoek, lees dan eerst <%= link_to 'hier', help_privacy_path %> meer
    over privacy op de Woo-Knop. Op de site kunt u eveneens de
    overheidsinstantie waarvoor u werkt opzoeken en bekijken welke andere
    documenten eerder zijn opgevraagd via de Woo-Knop.
  </p>

  <p>
    We staan open voor alle opmerkingen en bedenkingen van ambtenaren
    verantwoordelijk voor de afhandeling van Woo-verzoeken bij een
    overheidsinstantie. Aarzel niet om
    <%= link_to 'contact met ons', help_contact_path %> op te nemen.
  </p>

  <h2>Waarom is deze mogelijkheid in Nederland geïntroduceerd?</h2>
  <p>
    Burgers, journalisten en onderzoekers ervaren de papieren Woo-procedures
    als een drempel om te gaan wobben. Niet alleen werpen de noodzaak van een
    printer, enveloppen, postzegels en een brievenbus een fysieke drempel op,
    het is ook niet meer van deze tijd.
  </p>
  <p>
    Maar deze site doet meer dan alleen de ‘elektronische weg’ openstellen voor
    Woo-verzoeken. De Woo-Knop maakt het ook mogelijk om makkelijk eerdere
    verzoeken en documenten te doorzoeken.
  </p>
  <p>
    In omringende landen zoals het Verenigd Koninkrijk, Duitsland en België is
    het al jaren mogelijk om verzoeken tot verstrekking van overheidsdocumenten
    in te dienen, af te handelen en documenten te ontvangen via equivalenten
    van de Woo-Knop. Ook voor de Europese Unie bestaat deze mogelijkheid. Voor
    overheidsinstanties daar is het inmiddels volstrekt normaal dat verzoeken
    via deze weg binnenkomen en worden afgehandeld. In het Verenigd Koninkrijk
    wordt inmiddels 40% van de Woo-verzoeken op deze manier verstuurd.
  </p>
  <p>
    Kortom, de hoogste tijd dat Nederland bij deze ontwikkeling aansluit.
  </p>

  <h2>
    Het sturen van een e-mail is toch niet voldoende om overheidsdocumenten op
    te vragen?
  </h2>
  <p>
    Toch wel. Een Woo-verzoek mag mondeling of schriftelijk worden
    ingediend.E-mails gelden als een vorm van schriftelijke communicatie. De
    wet staat dus toe dat Woo-verzoeken per e-mail worden ingediend en
    behandeld.
  </p>
  <p>
    Er zijn overheden (geweest) die de elektronische weg voor het indienen van
    Woo-verzoeken (tijdelijk) hebben afgesloten, bijvoorbeeld omdat dit
    mogelijk misbruik van de Woo voor het innen van dwangsommen in de hand zou
    werken. In uitzonderlijke gevallen is dit door de rechter als beleidskeuze
    gesanctioneerd. Nu de mogelijkheid tot het geautomatiseerd innen van
    dwangsommen voor niet op tijd afgehandelde Woo-verzoeken door een
    wetswijziging onmogelijk is gemaakt, is er geen goede reden meer om het
    doen van elektronisch ingediende Woo-verzoeken te beperken.
  </p>
  <p>
    Laagdrempelige toegang tot overheidsinformatie is bovendien een beginsel
    dat breed gedeeld wordt door de overheid. Het op eenvoudige en uniforme
    wijze kunnen indienen van digitale Woo-verzoeken is een belangrijke stap in
    die richting. Inn de ons omringende landen en de Europese Unie vinden
    ambtenaren het volkomen normaal om via een vergelijkbare website
    Woo-verzoeken te behandelen en beantwoorden.
  </p>

  <h2>
    Heb ik invloed op het e-mailadres waar de Woo-Knop Woo-verzoeken naar toe
    stuurt?
  </h2>
  <p>
    Het is begrijpelijk als u er de voorkeur aan geeft om alle Woo-verzoeken
    aan uw overheidsinstantie op één bepaald e-mailadres te ontvangen. U kunt
    controleren welk van uw e-mailadressen wij gebruiken om verzoeken naar u te
    versturen via de link ‘Bekijk het e-mailadres voor een Woo-verzoek’ op de
    pagina over uw
    <%= link_to 'overheidsinstantie', request_list_all_path %> op deze site.
    Gelieve ons te <%= link_to 'contacteren', help_contact_path %> indien dit
    adres niet klopt en we een ander e-mailadres moeten gebruiken.
  </p>

  <h2>Hoe kan ik het verzoek beantwoorden?</h2>
  <p>
    U kunt het verzoek op twee manieren beantwoorden.
  </p>
  <ul>
    <li>
      Met een reply naar het e-mailadres waarvan u het verzoek ontvangen heeft
    </li>
    <li>Op de pagina op de Woo-Knop over het betreffende verzoek</li>
  </ul>
  <p>
    Dit geldt voor alle communicatie over het verzoek, van
    ontvangstbevestigingen tot tussentijds overleg over bijvoorbeeld
    verduidelijking of inperking van het verzoek en uw besluit op het
    verzoek.
  </p>

  <h2>Zijn de mensen die Woo-verzoeken indienen echte personen?</h2>
  <p>
    Ja. Voor uw communicatie met de verzoeker gebruikt u weliswaar een door
    deze website gegenereerd e-mailadres, maar om via de Woo-Knop een verzoek
    in te dienen dient hij of zij zich te
    <%= link_to 'registeren', signin_path %>
    op de website met een uniek en geverifieerd e-mailadres.
  </p>
  <p>
    De transparantie die deze website betracht, is wederzijds. Gebruikers
    kunnen zien welke verzoeken uw organisatie al heeft behandeld en hoe. Maar
    u kunt als ambtenaar op de site ook een overzicht vinden van alle verzoeken
    die een gebruiker heeft ingediend.
  </p>

  <h2>Worden er niet veel hinderlijke verzoeken ingediend via de Woo-Knop?</h2>
  <p>
    Voor alle duidelijkheid: de Woo-Knop dient zelf geen verzoeken in. We
    verzenden verzoeken voor de gebruikers van de website. Ongepaste verzoeken
    verwijderen wij van de site. Bovendien kunt u gemakkelijk nakijken of één
    van onze gebruikers bewust hinderlijke verzoeken indient aangezien alle
    verzoekenopenbaar zijn.
  </p>

  <h2>
    Er staat een verzoek op de Woo-Knop waarover wij nooit een e-mail ontvangen
    hebben. Hoe kan dat?
  </h2>
  <p>
    Wanneer een verzoek
    <%= link_to 'op de website verschijnt', request_list_all_path(anchor: 'results') %>,
    hebben wij geprobeerd het Woo-verzoek door te sturen naar de juiste
    overheidsinstelling. Alle foutmeldingen (‘delivery failure’ e.d.)
    verschijnen automatisch op de website. U kunt controleren welk van uw
    e-mailadressen wij gebruiken om verzoeken naar u te versturen via de link
    ‘Bekijk het e-mailadres voor een Woo-verzoek’ op de pagina over uw
    overheidsinstantie op deze site. Gelieve ons te
    <%= link_to 'contacteren', help_contact_path %>
    indien dit adres niet klopt en we een ander e-mailadres moeten gebruiken.
  </p>
  <p>
    Soms wordt een verzoek tegengehouden door een anti-spam filter. U kan uw
    IT-afdeling vragen om e-mails afkomstig van het domein @woo-knop.nl toe te
    laten. <%= link_to 'Op uw verzoek', help_contact_path %> kunnen we alle
    Woo-verzoeken die al zijn ingediend en/of de technische details doorgeven
    zodat uw IT-afdeling het probleem kan oplossen.
  </p>

  <h2>Hoe wordt de deadline die op een verzoekpagina staat berekend?</h2>
  <p>
    De Woo-Knop toont bij ieder verzoek de maximale termijn voorzien door de
    wetgeving om het verzoek te beantwoorden. Als de overheidsinstantie met
    onderbouwing de beslistermijn uitstelt, houdt de site dat bij.
  </p>
  <p>
    Indien de overheidsinstantie bijkomende informatie vraagt en dit de
    beslistermijn beïnvloedt, vraagt de site de verzoeker om de datumwaarop ze
    hun verzoek hebben verduidelijkt door te geven. Deze datumwordt dan
    gebruikt om de termijn opnieuw te berekenen.
  </p>
  <p>
    De berekende datum verschijnt bij de ingediende Woo-verzoeken op de
    volgende manier: ‘Momenteel in afwachting van een antwoord van XXX. Deze
    overheidsinstantie dient ten laatste te antwoorden op XXX’.
  </p>

  <h2>
    Hoe kan ik een bestand versturen dat te groot is om per e-mail te verzenden?
  </h2>
  <p>
    In plaats van per e-mail te antwoorden kunt u ook direct via de site
    antwoorden en bestanden uploaden. Om dit te doen moet u kiezen voor de link
    'beantwoorden verzoek' onderaan elke verzoekpagina. De limiet (50 Mb) is
    twee keer zo groot als bijvoorbeeld Gmail (25 Mb).
  </p>

  <h2>Waarom publiceert u de namen van ambtenaren en de tekst van e-mails?</h2>
  <p>
    We zijn de mening toegedaan dat wat ambtenaren communiceren in het kader
    van hun taak informatie van openbaar nut is. Onderdeel van de functie van
    ambtenaren die communiceren met burgers is dat zij in de openbaarheid
    treden. We zullen enkel informatie weghalen van de website in
    uitzonderlijke situaties (zie verder:
    <%= link_to '“Kunnen jullie mijn persoonlijke gegevens verwijderen?”', help_privacy_path(anchor: 'takedown')%>.)
  </p>

  <h2>Publiceert u ook e-mailadressen en telefoonnummers?</h2>
  <p>
    Om spam te vermijden halen we automatisch de meeste e-mailadressen en
    mobiele telefoonnummers weg uit antwoorden op verzoeken. U kan ons
    contacteren indien dit niet gebeurd is voor een bepaald telefoonnummer of
    e-mailadres. Om technische redenen kunnen we nummers en adressen niet
    altijd weghalen uit bepaalde bijlagen zoals in het geval van
    PDF-bestanden.
  </p>
  <p>
    Indien u een weggehaald e-mailadres zou willen kennen, kan u
    <%= link_to 'contact', help_contact_path %> met ons opnemen. Soms maakt een
    e-mailadres een belangrijk deel uit van een antwoord en zullen wij dit
    e-mailadres dan ook weergeven, maar dan in een verborgen commentaar.
  </p>

  <h2>
    Waarom worden de verstrekte overheidsdocumenten op de site gepubliceerd?
  </h2>
  <p>
    Wij denken dat er veel voordelen zijn verbonden aan publicatie. Het zal
    burgers aanzetten om meer interesse te tonen en betrokken te zijn bij het
    werk van de overheid en overheidsinstellingen. Aangezien het hier gaat om
    informatie met betrekking tot openbaar bestuurdie iedereen kan opvragen bij
    een overheidsinstelling, zien we geen enkele reden om deze niet te
    publiceren. We hopen ook dat door publicatie er minder vaak dezelfde vragen
    zullen worden ingediend.
  </p>

  <div id="hash_link_padding"></div>
</div>
