<% @title = 'Je privacy' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="privacy">
    <%= @title %> <a href="#privacy">#</a>
  </h1>
  <p>
    De Woo-Knop wordt beheerd door stichting Samenwerking Passieve Openbaarmaking 
    Overheidsinformatie Nederland (SPOON).Voor meer informatie over de organisatie 
    en structuur van SPOON zie de Over ons pagina op de website van SPOON.
  </p>
  <p>
    SPOON beheert:
  </p>
  <ol type="i">
    <li>De website <a href="https://expertisecentrumspoon.nl/">expertisecentrumspoon.nl</a></li>
    <li>De <a href="https://woo-generator.nl/">Woo-generator</a></li>
    <li>De <a href="https://www.woo-knop.nl/">Woo-Knop</a></li>
  </ol>
  <p>
    De privacyverklaringen voor de Woo-generator en de website kan je hier vinden:
  </p>
  <ul>
    <li>Privacyverklaring van de Woo-generator</li>
    <li>Privacyverklaring van de website</li>
  </ul>
  <p>
    Hieronder staat zo helder mogelijk uitgeschreven hoe wij het verwerken van persoonsgegevens om 
    de Woo-Knop te kunnen gebruiken, hebben ingericht. Zo lichten we toe:
  </p>
  <ul>
    <li>Welke persoonsgegevens we verzamelen</li>
    <li>Waarom we deze gegevens nodig hebben</li>
    <li>Wat we met deze verschillende persoonsgegevens doen en niet doen</li>
    <li>Wie welke gegevens te zien krijgen</li>
    <li>Hoe lang we je gegevens bewaren</li>
    <li>In welke gevallen we je gegevens aanpassen of verwijderen als je ons daarom vraagt</li>
    <li>Wat je kunt doen als je niet tevreden bent hoe we met jouw gegevens zijn omgegaan</li>
  </ul>
  <p>
    Als je hier vragen of opmerkingen over hebt, neem dan <%= link_to 'contact', help_contact_path %> 
    met ons op.
  </p>

  <h2 id="persoonsgegevens">
    Welke persoonsgegevens verzamelen we van je?
    <a href="#persoonsgegevens">#</a>
  </h2>
  <p>
  Als je de Woo-Knop gebruikt, zijn er verschillende situaties waarin er persoonsgegevens worden verwerkt:Als 
  je de Woo-Knop gebruikt, zijn er verschillende situaties waarin er persoonsgegevens worden verwerkt:
  </p>
  <ul>
    <li>Als je een account aanmaakt om een Woo-verzoek in te dienen</li>
    <li>Als je ons e-mailt met een vraag of opmerking</li>
    <li>Als je (per ongeluk) informatie over jezelf of anderen deelt in je Woo-verzoek</li>
    <li>Als een bestuursorgaan (per ongeluk) informatie deelt als reactie op een Woo-verzoek</li>
    <li>Onze logging</li>
  </ul>
  <p>
    Voor donaties, het afsluiten van abonnementen en/of het aanschaffen van merchandise verwijzen we je 
    door naar onze website <a href="https://expertisecentrumspoon.nl/">expertisecentrumspoon.nl</a> en de 
    privacyverklaring voor het gebruik van de website.
  </p>
  <h3 id="persoonsgegevens_Woo-verzoek">
    Als je een account aanmaakt om een Woo-verzoek in te dienen
    <a href="#persoonsgegevens_Woo-verzoek">#</a>
  </h3>
  <p>
    Om via de Woo-Knop een Woo-verzoek in te dienen en te beheren, moet je eerst een account aanmaken. 
    Om een account aan te maken, moet je ons de volgende persoonsgegevens verstrekken: 
  </p>
  <ul>
    <li>Je echte naam</li>
    <li>Je e-mailadres</li>
  </ul>
  <p>
  Deze gegevens zijn altijd zichtbaar voor de beheerders van de Woo-Knop. De beheerders moeten immers je account
  kunnen vinden en weten met wie ze contact op kunnen nemen als er een probleem is met een account.
  </p>
  <p>
    Een deel van deze gegevens is ook zichtbaar voor anderen:
  </p>
  <ul>
    <li>Je echte naam is zichtbaar <u>voor iedereen</u> die de Woo-Knop bezoekt</li>
    <li>Je echte naam en je e-mailadres zijn zichtbaar <u>voor andere gebruikers</u> met wie je via 
    de Woo-Knop contact zoekt</li>
    <li>Je echte naam is zichtbaar <u>voor overheidsinstanties</u> waar je je Woo-verzoek indient (en er wordt per 
    Woo-verzoek bij het indienen automatisch een speciaal voor dat Woo-verzoek gegeneerd e-mailadres zichtbaar)</li>
  </ul>
  <p>
    Meer informatie over waarom we je naam en je e-mailadres vragen en wie die te zien krijgen, vind je 
    <a href="#persoonsgegevens_wie">hier</a>.
  </p>
  <h3 id="persoonsgegevens_contact">
    Als je ons e-mailt met een vraag of opmerking
    <a href="#persoonsgegevens_contact">#</a>
  </h3>
  <p>
    Als je ons een bericht stuurt met een vraag of opmerking komt je bericht terecht in de algemene mailbox 
    die we gebruiken voor het beheer van de Woo-Knop. Alleen personen die we inschakelen voor het beheer van 
    de Woo-Knop krijgen hier toegang toe. Zoals gebruikelijk met e-mailberichten beschikken we dan over je 
    e-mailadres, je naam en andere persoonsgegevens die je in je bericht zet.
  </p>
  <h3>
    Als je (per ongeluk) informatie over jezelf of anderen deelt in je Woo-verzoek
  </h3>
  <p>
    Bij het indienen van je Woo-verzoek krijg de overheidsinstantie waar je je verzoek indient je naam te 
    zien. Het e-mailadres van waaruit het verzoek ingediend wordt en de overheidsinstantie dus te zien krijgt, 
    is een e-mailadres dat bij het indienen automatisch speciaal voor dat verzoek door de Woo-Knop gegenereerd wordt.
  </p>
  <p>
    Na het indienen word je hele Woo-verzoek automatisch ook op de Woo-Knop zichtbaar, tenzij je een 
    Pro-gebruiker bent. Zie voor meer informatie over Pro-accounts <a href="https://www.woo-knop.nl/help/pro">hier</a>.
  </p>
  <p>
    Let op: dit betekent dus dat alle persoonsgegevens die je zelf in je Woo-verzoek zet dus ook zichtbaar worden 
    op de Woo-Knop, voor alle bezoekers van de Woo-Knop. Dus niet alleen voor de overheidsinstantie waar je je 
    Woo-verzoek hebt ingediend. 
  </p>
  <p>
    Het is weliswaar zo dat wij in de Woo-Knop software geïntegreerd hebben waarmee e-mailadressen en vaste 
    telefoonnummers automatisch onzichtbaar worden gemaakt, maar dit is (nog) geen waterdicht systeem. 
  </p>
  <p>
    Vermeldt dus nooit persoonsgegevens, van jezelf of anderen, in je Woo-verzoek die je niet openbaar wil hebben. 
    Zoals een (post)adres, geboortedatum, mobiele telefoonnummer of handtekening. Dat is overigens ook niet nodig om 
    bijvoorbeeld documenten te kunnen ontvangen, want die kunnen in de verreweg de meeste gevallen gewoon via de 
    Woo-Knop gedeeld worden. Lees hier wat je kunt doen als dit toch is gebeurd.
  </p>
    <h3 id="onze_logging">
      Onze logging
    <a href="#onze_logging">#</a>
  </h3>
  <p>
    Naast de informatie die je ons geeft om de site te gebruiken (bijv. naam en e-mailadres), verzamelen en 
    registreren wij enkele aanvullende gegevens om misbruik van onze dienst te voorkomen en om problemen met 
    de site te analyseren en op te lossen. 
  </p>
  <p>
    Onze webserverlogs houden een geschiedenis van pagina-aanvragen bij. Deze bevat informatie over verzoeken, 
    waaronder een IP-adres, de verstrekte gegevens (waaronder mogelijk een e-mailadres wanneer je je aanmeldt op 
    de site), de datum en tijd van het verzoek, de opgevraagde pagina, de browserversie en de verwijzer. Wij 
    bewaren deze informatie gewoonlijk 60 dagen. In normale omstandigheden worden deze gegevens zelden door een 
    mens geraadpleegd, en als dat gebeurt, gaat het waarschijnlijk om een beoordeling in bulk, om inzicht te 
    krijgen in een probleem met de site, of om misbruik in verband met een specifieke gebruiker of IP-adres 
    te onderzoeken.
  </p>

  <h2 id="names">
    Meer uitleg over het gebruik van je naam op de Woo-Knop
    <a href="#names">#</a>
  </h2>

  <h3 id="public_name">
    Waarom vragen wij je echte naam bij het aanmaken van een account? 
    <a href="#public_name">#</a>
  </h3>
  <p>
    Als je een Woo-verzoek indient, vragen wij je om je echte naam te gebruiken – het is dus niet toegestaan 
    om anoniem een account aan te maken of een pseudoniem te gebruiken.
  </p>
  <p>
    Er zijn drie redenen waarom we je vragen om je echte naam te gebruiken:
  </p>
  <p> 
    1. De overheidsinstantie waar je je Woo-verzoek indient moet kunnen vaststellen of het verzoek van een 
    echt persoon, en niet bijvoorbeeld van een bot, afkomstig is.
  </p>
  <p>
    Je verzoek wordt anders niet in behandeling genomen. Je echte naam, gecombineerd met de bij het indienen 
    automatisch gegenereerde e-mailadres afkomstig van de Woo-Knop, is daardoor een belangrijk onderdeel van 
    je Woo-verzoek. Om misbruik van je recht om een Woo-verzoek in te dienen zo veel mogelijk te voorkomen, 
    vragen we daarom ook bij het aanmaken van je account om je eigen naam te gebruiken.
  </p>
  <p>
    2. Het gebruik van je echte naam heeft daarnaast ook voor de Woo-Knop een belangrijke functie. Het zorgt 
    er namelijk voor dat je weet dat jouw naam voor altijd verbonden is aan je Woo-verzoek. Wij achten de kans 
    daarmee groter dat je een verantwoord, goed doordacht, geldig en nuttig verzoek verstuurt. Anders gezegd: 
    we denken dat het vragen om (en het zichtbaar maken van) je eigen naam helpt om misbruik van de Woo-Knop te voorkomen.
  </p>
  <p>
    3. Tot slot maakt het gebruik van je echte naam het voor bezoekers en gebruikers makkelijker om te bepalen 
    wiens verzoeken ze willen volgen. Ze kunnen je dan misschien helpen bij je verzoek, onderzoek of campagne.
  </p>
  <p>
    Dat je je echte naam moet gebruiken betekent niet dat je je volledige naam hoeft te gebruiken. Hieronder 
    vind je welke weergaven van je naam zijn toegestaan.
  </p>
  <h3 id="real_name">
    Kan ik mijn verzoek wel onder een pseudoniem doen?
    <a href="#real_name">#</a>
  </h3>
  <p>
    Zoals gezegd moet de overheidinstantie waar jij het vezoek indient kunnen vaststellen dat ze met een echte 
    persoon te maken hebben. Technisch gezien moet je daarom je echte, wettelijke naam gebruiken. Anders mag de 
    overheidsinstantie weigeren om het verzoek in behandeling te nemen. Het korte antwoord is dus nee. 
  </p>
  <p>
   Maar ze mogen er dus ook voor kiezen om het verzoek wél in behandeling te nemen. Die kans is het grootst als 
   je een van de volgende opties kiest:
  </p>
  <ul>
    <li>Je achternaam in combinatie met je roepnaam of je initialen.</li>
    <li>De naam van een bedrijf of organisatie.</li>
    <li>Vraag iemand anders om het verzoek voor je te doen. Dat recht heeft namelijk ‘eenieder’</li>
    <li>In uitzonderlijke gevallen kun je ons als beheerder vragen om het verzoek voor jou te doen. Neem dan 
    <%= link_to 'contact met ons op', help_contact_path %> en leg uit waarom jijzelf en niemand die je kent 
    het verzoek kunnen doen.</li>
  </ul>
  <h2 id="persoonsgegevens_wie">
    Wie krijgen jouw persoonsgegevens te zien
    <a href="#persoonsgegevens_wie">#</a>
  </h2>
  <h3 id="name">
    Je naam
    <a href="#name">#</a>
  </h3>
  <p>
    Als je een account aanmaakt op de Woo-Knop, vragen we je om je eigen naam te gebruiken. 
  </p>
  <p>
    Dat betekent in de eerste plaats dat wij als beheerders jouw naam te zien krijgen. De reden is dat we misbruik 
    willen voorkomen. We moeten jouw account kunnen vinden als iemand ons laten weten dat je je niet houdt aan de 
    voorwaarden van het gebruik van deze site. Verder zien de beheerders jouw naam als er een ander probleem is met 
    jouw account dat ze moeten oplossen. 
  </p>
  <p>
    Ook wordt jouw account, met je eigen naam, zichtbaar op de site voor alle bezoekers.
  </p>
  <p>
    En als je een Woo-verzoek doet via de Woo-Knop:
  </p>
  <ul>
    <li>Komt jouw naam terecht bij de overheidsinstantie waar je het verzoek indient</li>
    <li>Wordt je naam zichtbaar boven het verzoek op de site van de Woo-Knop</li>
  </ul>
  <p>
    Het is niet toegestaan om een anoniem of pseudoniem account aan te maken. Als je goede redenen hebt om je verzoek 
    niet onder je wettelijke naam te doen, kijk dan <a href="#real_name">welke opties we wel toestaan</a>.
  </p>
  <p>
    Lees verderop <a href="#names">waarom je naam zichtbaar moet zijn</a> op de site en voor overheidsinstanties. In 
    alle overige gevallen zullen we je naam alleen met anderen delen als de wet ons hiertoe verplicht of als jij het 
    ons vraagt.
  </p>
  <p>
    In uitzonderlijke gevallen kunnen we je naam of andere <a href="#Recht_op_verwijdering">persoonlijke gegevens verwijderen of aanpassen</a>.
  </p>
  <h3 id="email_address">
    Je e-mailadres
    <a href="#email_address">#</a>
  </h3>
  <p>
    Als je een account aanmaakt op Woo-Knop.nl vragen we je om je e-mailadres.
  </p>
  <p>
    Als beheerders zullen we dit e-mailadres alleen gebruiken als het in verband met het beheer van de Woo-Knop 
    nodig is om contact met op te nemen of om je op de hoogte te brengen van aanpassingen aan de site.
  </p>
  <p>
    We delen je e-mailadres niet met de overheidsinstantie waaraan je je verzoek stuurt en we publiceren het ook 
    niet op de site. De Woo-Knop verstuurt je verzoek vanaf een uniek, voor elk individueel verzoek aangemaakt 
    e-mailadres dat eindigt met @woo-knop.nl. In de mailbox van de overheid verschijnt je bericht met dit mailadres 
    als afzender. De overheidsinstantie stuurt antwoorden terug naar dit adres.
  </p>
  <p>
    Als de overheidinstantie jou antwoordt via dit mailadres, verschijnt hun antwoord op de pagina op Woo-Knop.nl 
    waar jouw verzoek staat. Je krijgt hiervan direct een melding op het e-mailadres dat jij hebt opgegeven bij je account.
  </p>
  <p>
    Andere gebruikers van de site krijgen je e-mailadres alleen te zien als je vanaf de site een bericht naar 
    ze stuurt. We herinneren je hieraan voordat je het bericht verstuurt.
  </p>
  <h4 id="email_other">
    Gebruiken we je e-mailadres nog voor andere doeleinden?
  <a href="#email_other">#</a>
  </h4>
  <p>
    Nee. Nadat je je account hebt aangemaakt op Woo-Knop.nl zullen we je alleen e-mails sturen met betrekking 
    tot een Woo-verzoek dat je hebt gedaan, e-mailnotificaties waar jij je specifiek voor hebt opgegeven, of 
    andere redenen waar je uitdrukkelijk mee hebt ingestemd.
  </p>
  <p>
    Voor het overige zullen we je e-mailadres nooit met anderen delen tenzij de wet ons hiertoe verplicht of 
    als jij het ons vraagt.
  </p>
    Er is een kleine mogelijkheid dat je spam zou kunnen ontvangen via de ‘stuur deze gebruiker een bericht’-functie.
    Dit komt gelukkig niet vaak voor. Laat ons weten als je toch onwenselijke e-mail in je mailbox ziet, via het 
    <%= link_to 'contactformulier', help_contact_path %>. Van gebruikers die deze functie misbruiken kunnen we het account
     verwijderen.
  <h3 id="request">
    Je Woo-verzoek
  <a href="#request">#</a>
  </h3>
  <p>
    We sturen je verzoek in zijn geheel naar de overheidsinstantie die je hebt gekozen om informatie op te vragen. Het 
    verzoek is ook voor iedereen in zijn geheel zichtbaar op de website. Alleen e-mailadressen en vaste telefoonnummers 
    worden automatische geanonimiseerd maar dit is (nog) geen waterdicht system.
  </p>
  <p>
    <strong>Zet daarom geen informatie in je Woo-verzoek waarvan je niet wilt dat deze openbaar wordt.</strong>
  </p>
  <p>
    We publiceren je Woo-verzoek en alle verder correspondentie tussen jou en de overheidsinstantie zodat iedereen toegang 
    heeft tot het door jou verzonden verzoek en de ingewonnen informatie en documenten en deze ook kan gebruiken en ervan leren. 
  </p>
  <h3 id="IP-adres">
    Je IP-adres
    <a href="#IP-adres">#</a>
  </h3>
  <p>
      Het IP-adres dat je gebruikt om de site te bezoeken wordt automatisch vastgelegd in. Zie de alinea over 
      <a href="#onze_logging">ons loggen</a> voor meer informatie.
  </p>
  <p>
    We delen geen IP-adressen met anderen tenzij we daartoe wettelijk verplicht zijn (bijvoorbeeld wanneer de 
    politie toestemming heeft gekregen van de rechter in het kader van een opsporingsonderzoek)
  </p>
  <h3 id="postadres">
    Je (post)adres
  <a href="#postadres">#</a>
  </h3>
  <p>
    Het is niet nodig om een postadres aan de overheid te verstrekken als je een digitaal Woo-verzoek doet. Als 
    de overheidsinstatie zegt dat ze je postadres toch nodig hebben, antwoordt dan dat je naam en een e-mailadres 
    voldoende zijn. Het recht om een Woo-verzoek te doen behoort namelijk aan ‘eenieder’, het is niet nodig om te 
    verifiëren of jij dit recht hebt.
  </p>
  <p>
    Sommige overheidsinstanties zijn hier nog niet mee bekend, omdat de mogelijkheid om verzoeken elektronisch 
    te sturen pas sinds kort verplicht is.
  </p>
  <p>
    Wijs de ambtenaar erop dat je voor je communicatie over dit verzoek weliswaar een door deze website gegenereerd 
    e-mailadres gebruikt, maar om via de Woo-Knop een verzoek in te dienen heb je je 
    <a href="https://www.woo-knop.nl/profile/sign_in">geregistreerd</a> op de website met een uniek en geverifieerd 
    e-mailadres en met je eigen naam en gegevens.
  </p>

  <h4 id="postal_answer">
    Wat als de informatie die je hebt gevraagd alleen bestaat in fysieke vorm (op papier)
    <a href="#postal_answer">#</a>
  </h4>
  <p>
    In dat geval is het mogelijk dat de overheidsinstantie kosten rekent voor het inscannen 
    van de documenten of de documenten alleen op papier per post wil verstrekken. Als je 
    daarmee akkoord gaat maar liever niet je postadres in een voor iedereen zichtbaar antwoord 
    zet, kun je de status van je verzoek veranderen naar ‘De overheidsinstantie wil per <strong>per post</strong> 
    antwoorden’. Je krijgt dan een e-mailadres te zien dat je kunt gebruiken om je postadres 
    door te geven.
  </p>

  <h2 id="gevolgen">
    Welke gevolgen heeft het gebruik van de Woo-Knop voor jou?
    <a href="#gevolgen">#</a>
  </h2>
  <h3 id="gevolgen_verzoeken">
    Als je een Woo-verzoek doet via de site
    <a href="#gevolgen_verzoeken">#</a>
  </h3>
  <p>
    Zoals je hierboven hebt kunnen lezen betekent het gebruik van de Woo-Knop dat je naam en je verzoek(en) 
    online gepubliceerd worden, in de meeste gevallen blijvend. De belangrijkste gevolgen hiervan zijn:
  </p>
  <ul>
    <li>De pagina’s met jouw verzoeken kunnen gevonden door jouw naam in te voeren in zoekmachines.</li>
    <li>Personen die geïnteresseerd zijn in jou of je verzoek, waaronder journalisten, kunnen via 
    jouw pagina’s op de site contact met je opnemen met de ‘stuur een bericht’-functie. Ze kunnen niet 
    jouw e-mailadres zien als je niet antwoordt.</li>
  </ul>
  
  <h3 id="gevolgen_account">
    Als je een account aanmaakt op de site
    <a href="#gevolgen_account">#</a>
  </h3>
  <p>
    Zonder een account aan te maken kun je geen Woo-verzoeken versturen via de site, e-mailnotificaties 
    ontvangen (bijvoorbeeld omdat je een gebruiker, overheidinstantie of verzoek wilt volgen) of opmerkingen 
    plaatsen.
  </p>
  <uL>
    <li>We verzamelen je naam en e-mailadres. Daar kijken we alleen naar als er een probleem is met je account.</li>
    <li>Door een account aan te maken onstaat er automatisch een profielpagina voor jou die voor iedereen zichtbaar
     is. Bezoekers van de site kunnen hierop terecht komen door bijvoorbeeld op de naam die bij een Woo-verzoek 
     staat te klikken. Op deze profielpagina staan:
      <uL>
        <li>Je naam </li>
        <li>Het jaartal waarin je je account hebt aangemaakt </li>
        <li>Een tekst over jezelf als je ervoor gekozen hebt om die toe te voegen</li>
        <li>Een overzicht van al jouw Woo-verzoeken en opmerkingen</li>
      </ul>
      <p>
        Deze pagina toont niet je e-mailadres maar anderen kunnen je wel een bericht sturen via het berichtensysteem.
      </p>
      <p>
        Anderen kunnen ook niet zien voor welke e-mailnotificaties je je hebt opgeven. Zelf kun je dit als 
        je bent ingelogd wel zien.
      </p>
    </li>
  </ul>
  <p>
    Alle hier genoemde gegevens gebruiken voor geen ander doel dan het runnen van de site en delen we niet met derden. 
  </p>
  <h2 id="Bewaartermijnen">
      Bewaartermijnen
    <a href="#Bewaartermijnen">#</a>
  </h2>
  <h3 id="Bewaartermijnen_Woo-verzoeken">
    Woo-verzoeken
    <a href="#Bewaartermijnen_Woo-verzoeken">#</a>
  </h3>
  <p>
    Zoals hierboven beschreven, leidt het verzenden van een Woo-verzoek via deze site ertoe dat je naam en e-mailadres, 
    samen met de inhoud van het verzoek, op onze servers worden opgeslagen. Je e-mailadres is alleen toegankelijk voor 
    de beheerders van de site. We bewaren deze gegevens zolang het verzoek relevant blijft voor de openbaarmaking van 
    overheidsinformatie. 
  </p>
  <h3 id="Bewaartermijnen_support_emails">
    Support emails
    <a href="#Bewaartermijnen_support_emails">#</a>
  </h3>
  <p>
    Wij bewaren e-mails die van en naar deze centrale mailbox worden gestuurd voor twee jaar - standaard wordt correspondentie
    daarna automatisch en permanent verwijderd. Alle e-mail die om specifieke redenen moet worden bewaard, zoals het monitoren
    van onze klachten- en misbruikafhandelingsprocessen en de naleving van wettelijke voorschriften, of het reageren op 
    lopende politieonderzoeken of rechtszaken, wordt apart bewaard. 
  </p>
  <h2 id="Grondslag_voor_de_verwerking">
    Grondslag voor de verwerking
    <a href="#Grondslag_voor_de_verwerking">#</a>
  </h2>
  <p>
    In de meeste gevallen is onze rechtsgrondslag voor de verwerking van persoonsgegevens ‘gerechtvaardigd belang’ (dit is zoals 
    vastgelegd in 6(1)(f) - van de AVG). Wij streven een gerechtvaardigd belang na bij de verwerking van persoonsgegevens om onze 
    dienst te verlenen ten behoeve van onze gebruikers en de samenleving. Wij bieden een gemakkelijke manier om verzoeken voor 
    openbaarmaking van overheidsinformatie in te dienen, te volgen en te publiceren. De dienst heeft ook een belang voor het publiek, 
    aangezien alle informatie die in antwoord op het verzoek wordt vrijgegeven, voor iedereen beschikbaar is in een historisch 
    archief. Er is ook een belang voor de autoriteiten die verzoeken beantwoorden, omdat de automatische publicatie van de verzoeken 
    het aantal dubbele verzoeken vermindert.
  </p>
  <p>
    In enkele gevallen zijn de grondslagen voor de “uitvoering van een overeenkomst” en "voldoen aan een wettelijke verplichting" 
    van toepassing, bijvoorbeeld wanneer wij wettelijk verplicht zijn materiaal te bewaren, bijvoorbeeld wanneer er een gerechtelijk 
    bevel is uitgevaardigd (6(1)(c) van de AVG). 
  </p>
  <p>
    Het publiceren van overheidsinformatie voor de bovengenoemde publieke belangen van onze dienst zijn volledig en uitsluitend 
    gericht op “journalistieke doeleinden”, zoals genoemd in artikel 85 AVG en 43 UAVG. Onderdelen van de AVG en UAVG zijn niet 
    van toepassing op het verwerken en publiceren van persoonsgegevens voor deze uitsluitend journalistieke doeleinden. 
  </p>
  <h2 id="Jouw_rechten">
      Jouw rechten
    <a href="#Jouw_rechten">#</a>
  </h2>
  <p>
    Op basis van de AVG heb je de onderstaande rechten die je kunt uitoefenen in het kader van onze verwerking van uw persoonsgegevens. 
    Voor het uitoefenen van uw rechten kun je ons bereiken via de contactgegevens.
  </p>
  <h3 id="Recht_op_informatie">
    Recht op informatie
    <a href="#Recht_op_informatie">#</a>
  </h3>
  <p>
    Je hebt het recht om geïnformeerd te worden over de verwerking van uw persoonsgegevens. Deze Privacy- en 
    cookieverklaring verklaring voorziet in deze informatie. Mocht je nadere informatie wensen dan kun je ons 
    hierom verzoeken.
  </p>
  <h3 id="Recht_op_inzage">
    Recht op inzage
    <a href="#Recht_op_inzage">#</a>
  </h3>
  <p>
    Je hebt recht op inzage in de persoonsgegevens die wij van je verzamelen en bewaren. Deze inzage omvat ook 
    informatie over de doeleinden waarvoor de persoonsgegevens worden verwerkt, hoe lang en waar zij worden 
    bewaard en wie de persoonsgegevens ontvangt.
  </p>
  <h3 id="Recht_op_rectificatie">
    Recht op rectificatie
    <a href="#Recht_op_rectificatie">#</a>
  </h3>
  <p>
    Wij doen ons best om te zorgen dat de persoonsgegevens die wij verwerken juist en volledig zijn. Mocht je toch 
    van mening zijn dat jouw persoonsgegevens onjuist of onvolledig zijn, dan kun je verzoeken om jouw 
    persoonsgegevens aan te vullen of te wijzigen.
  </p>
  <h3 id="Recht_op_verwijdering">
    Recht op verwijdering
    <a href="#Recht_op_verwijdering">#</a>
  </h3>
  <p>
    In bepaalde situaties heb je het recht om jouw persoonsgegevens te laten wissen. Dit is bijvoorbeeld het 
    geval als de gegevens in strijd met de wettelijke kaders zijn verwerkt of als de persoonsgegevens niet 
    meer nodig zijn voor het doel waarvoor ze zijn verzameld en bewaard.
  </p>
  <h3 id="Recht_op_beperking_van_de_verwerking">
    Recht op beperking van de verwerking
    <a href="#Recht_op_beperking_van_de_verwerking">#</a>
  </h3>
  <p>
    Je hebt het recht om de verwerking van jouw persoonsgegevens te laten beperken. Dit houdt in dat wij de 
    verwerking van jouw gegevens gedurende een bepaalde tijd opschorten. Omstandigheden die hiertoe 
    aanleiding geven, zijn bijvoorbeeld situaties waarin je de juistheid van de gegevens in twijfel trekt, 
    of omdat je van mening bent dat de persoonsgegevens niet meer nodig zijn voor het doel waarvoor ze verzameld 
    zijn en bewaard worden. Dit recht weerhoudt ons niet ervan om jouw persoonsgegevens te blijven verwerken. 
    Wij laten je weten wanneer de beperking wordt opgeheven.
  </p>
  <h3 id="Recht_op_gegevensoverdraagbaarheid">
    Recht op gegevensoverdraagbaarheid 
    <a href="#Recht_op_gegevensoverdraagbaarheid">#</a>
  </h3>
  <p>
    Je kunt persoonsgegevens die wij van je bewaren, in bepaalde gevallen in een gestructureerde, gangbare en 
    machine leesbare vorm opvragen. Na ontvangst van de persoonsgegevens staat het je vrij om deze informatie 
    over te dragen aan derden.
  </p>
  <h3 id="Recht_op_bezwaar">
    Recht op bezwaar 
    <a href="#Recht_op_bezwaar ">#</a>
  </h3>
  <p>
    Je hebt het recht bezwaar te maken tegen de verwerking van jouw persoonsgegevens, die is gebaseerd op onze
     gerechtvaardigde belangen. Tenzij we een dwingende, legitieme reden voor de verwerking hebben, zullen we 
     jouw persoonsgegevens niet meer verwerken wanneer je een bezwaar indient.
  </p>
  <h3 id="Recht_om_uw_toestemming_te_herroepen">
    Recht om uw toestemming te herroepen 
    <a href="#Recht_om_uw_toestemming_te_herroepen">#</a>
  </h3>
  <p>
    Wanneer de gegevensverwerking is gebaseerd op jouw toestemming, heb je het recht om de verleende toestemming op 
    elk gewenst moment in te trekken. Na ontvangst van jouw verzoek stoppen wij direct de verwerking van jouw 
    persoonsgegevens waarvoor je toestemming had verleend. Het intrekken van toestemming heeft echter geen invloed 
    op de rechtmatigheid van de aan dat moment voorafgaande verwerkingen.
  </p>
  <p>
    Houd er rekening mee dat jouw rechten in sommige gevallen niet absoluut zijn en dat we mogelijk niet verplicht 
    zijn om aan jouw verzoek te voldoen. Wij toetsen altijd per geval of hieraan uitvoering moet worden gegeven en 
    stellen je hiervan op de hoogte.
  </p>
  <h3 id="klachten">
    Contact en het indienen van een klacht 
    <a href="#klachten">#</a>
  </h3>
  <p>
    Vragen over onze privacyverklaring of wil je één van je rechten uit de AVG uitoefenen? Stuur dan een e-mail 
    naar contact@expertisecentrumspoon.nl.
  </p>
  <p>
    Meer informatie over de rechten die je op basis van de AVG hebt, vind je ook op de 
    <a href="https://autoriteitpersoonsgegevens.nl/nl/onderwerpen/algemene-informatie-avg/rechten-van-betrokkenen">website van de toezichthouder</a>,
    de Autoriteit Persoonsgegevens. Je kan bij de Autoriteit Persoonsgegevens ook een klacht indienen over ons gebruik 
    van je persoonsgegevens als je dit nodig acht.
  </p>

  Contact en het indienen van een klacht

  <h2 id="cookies">
    Cookies and third party services
    <a href="#cookies">#</a>
  </h2>
  <h4>Cookies</h4>
  <p>
    To make our service easier or more useful, we sometimes place small data
    files on your computer or mobile phone, known as cookies; this is very
    common practice and most websites do this.
  </p>
  <p>
    Cookies help our websites to, for example, remember that you have logged
    in so you don’t need to do that on every page, or to measure how people
    use the website so we can improve it and make sure it works properly.
    Below, we list the cookies and services that this site may use.
  </p>
  <table>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Typical Content</th>
      <th scope="col">Expires</th>
    </tr>
    <tr>
      <td>_wdtk_cookie_session</td>
      <td>A random unique identifier</td>
      <td>When web browser is closed, or 1 month if ‛Remember me’ is used</td>
    </tr>
    <tr>
      <td>seen_foi2</td>
      <td>The number 1 if you have seen a notice</td>
      <td>7
      days</td>
    </tr>
    <tr>
      <td>has_seen_country_message</td>
      <td>The number 1 if you have seen a notice about FOI services in other
      countries</td>
      <td>1 year</td>
    </tr>
    <tr>
      <td>last_request_id</td>
      <td>A number, identifying the last FOI request you looked at on the
      site</td>
      <td>When web browser is closed</td>
    </tr>
    <tr>
      <td>last_body_id</td><td>A number, identifying the last public
      authority you looked at on the site</td><td>When web browser is closed
      </td>
    </tr>
    <tr>
      <td>widget_vote</td><td>A random identifier for an ‛I also want to
      know’ vote you’ve made for a request</td><td>When web browser is closed
      </td>
    </tr>
  </table>
  <h4>Measuring website usage (Google Analytics)</h4>
  <p>
    We use Google Analytics to collect information about how people use this
    site. We do this to make sure it’s meeting its users’ needs and to
    understand how we could do better. Google Analytics stores information
    such as what pages you visit, how long you are on the site, how you got
    here, what you click on, and information about your web browser. IP
    addresses are masked (only a portion is stored) and personal information
    is only reported in aggregate. We do not allow Google to store browser
    cookies on your machine or device. We also do not allow Google to use or
    share our analytics data for any purpose besides providing us with
    analytics information, and we recommend that any user of Google Analytics
    does the same.
  </p>
  <p>
    If you’re unhappy with data about your visit to be used in this way, you
    can install the <a
    href="http://tools.google.com/dlpage/gaoptout">official browser plugin
    for blocking Google Analytics</a>.
  </p>
  <p>
    Please note that this website initialises Google Analytics with the
    following settings:
  </p>
  <dl>
    <dt>
      anonymizeIp
    </dt>
    <dd>
      This masks the last part of your IP address before any analytics data is
      stored.
    </dd>
    <dt>
      storage: none
    </dt>
    <dd>
      This instructs Google to not create and store browser cookies on your
      machine or device.
    </dd>
  </dl>
  <h4>Google’s Official Statement about Analytics Data</h4>
  <p>
    “This website uses Google Analytics, a web analytics service provided by
    Google, Inc. (“Google”).  Google Analytics uses “cookies”, which are
    text files placed on your computer, to help the website analyze how
    users use the site. The information generated by the cookie about your
    use of the website (including your IP address) will be transmitted to
    and stored by Google on servers in the United States . Google will use
    this information for the purpose of evaluating your use of the website,
    compiling reports on website activity for website operators and
    providing other services relating to website activity and internet
    usage.  Google may also transfer this information to third parties where
    required to do so by law, or where such third parties process the
    information on Google’s behalf. Google will not associate your IP
    address with any other data held by Google.  You may refuse the use of
    cookies by selecting the appropriate settings on your browser, however
    please note that if you do this you may not be able to use the full
    functionality of this website.  By using this website, you consent to
    the processing of data about you by Google in the manner and for the
    purposes set out above.”
  </p>
  <h2 id="Wijzigingen">
    Wijzigingen privacyverklaring
    <a href="#Wijzigingen">#</a>
  </h2>
  <p>
    We kunnen deze privacyverklaring wijzigen. Belangrijke wijzigingen zullen we aankondigen 
    op onze website. 
  </p>
  <p>
   Deze versie is laatst gewijzigd op 22 mei 2023.
  </p>
  <div id="hash_link_padding"></div>
</div>
