<% @title = 'Je privacy' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="privacy"><%= @title %> <a href="#privacy">#</a></h1>

  <p>
    Hier kan je lezen over het gebruik van je gegevens. Als je vragen hebt,
    neem gerust <%= link_to 'contact', help_contact_path %> met ons op.
  </p>

  <dl>
    <dt id="email_address">Wie krijgt mijn e-mailadres te zien? <a href="#email_address">#</a> </dt>
    <dd>
      <p>
        Wij zullen alleen je e-mailadres gebruiken als we daartoe wettelijk
        verplicht zijn of als jij het ons vraagt. Je e-mailadres is dus ook
        niet te zien voor de overheidsinstantie waaraan je je Woo-verzoek
        richt. Je Woo-verzoek wordt verstuurd vanaf een specifiek voor het
        individuele verzoek aangemaakt
        @<%= AlaveteliConfiguration::incoming_email_domain %> e-mailadres.
      </p>
      <p>
        Als je een bericht stuurt naar een andere gebruiker van de Woo-Knop zal
        je eigen, persoonlijke e-mailadres wél zichtbaar zijn. Dit om misbruik
        te voorkomen. Je wordt daar vóór het versturen aan herinnerd.
      </p>
    </dd>

    <dt id="nasty_spam">Gaan jullie mijn inbox vullen met spam? <a href="#nasty_spam">#</a> </dt>
    <dd>
      <p>
        Nee, eenmaal aangemeld bij de Woo-Knop sturen we alleen e-mailberichten
        die verband houden met vragen die je stelt, een e-mailnotificatie
        waarvoor je je eventueel hebt ingeschreven, of andere redenen waarvoor
        je expliciet goedkeuring geeft. We zullen nooit je e-mailadres
        doorgeven of verkopen aan derden, tenzij we daartoe wettelijk verplicht
        worden of jij het ons vraagt.
      </p>
    </dd>

    <dt id="public_request">Waarom verschijnen mijn naam en Woo-verzoek op de website? <a href="#public_request">#</a> </dt>
    <dd>
      <p>
        Door je echte naam te gebruiken ben je gemakkelijker terug te vinden
        door mensen die je willen helpen bij je verzoek, onderzoek of campagne.
        Bovendien helpt het gebruik van je eigen naam misbruik van de Woo-Knop
        voorkomen.
      </p>
      <p>
        We publiceren je Woo-verzoek zodat iedereen toegang heeft tot het door
        jou verzonden Woo-verzoek en de ingewonnen informatie en documenten en
        deze ook kan gebruiken. In principe verwijderen we geen informatie. Zie
        ook: ‘<a href="#takedown">Kunnen jullie mijn persoonlijke gegevens
          verwijderen?</a>’
      </p>
    </dd>

    <dt id="real_name">Kan ik een Woo-verzoek onder een pseudoniem indienen? <a href="#real_name">#</a> </dt>
    <dd>
      <p>
        Nee, je moet je eigen naam gebruiken als je een Woo-verzoek doet.
      </p>
    </dd>

    <dt id="full_address">Ze hebben mijn postadres gevraagd! <a href="#full_address">#</a> </dt>
    <dd>
      <p>
        Als een overheidsinstantie over papieren stukken beschikt, zullen ze
        mogelijk om je postadres vragen. Antwoord dan dat je toch echt per
        e-mail digitale kopieën wenst te ontvangen.
      </p>
    </dd>

    <dt id="postal_answer">Nee, nee, ze hebben echt per se een postadres nodig! <a href="#postal_answer">#</a> </dt>
    <dd>
      Indien dit niet kan of je vindt het prima om het antwoord per post te
      ontvangen, dan kun je daar uiteraard mee akkoord gaan. Bedenk wel dat het
      antwoord dan niet beschikbaar zal zijn voor anderen.
    </dd>

    <dt id="delete_requests">Kunnen jullie mijn verzoeken verwijderen, of mijn naam aanpassen? <a href="#delete_requests">#</a> </dt>
    <dd>
      <p>
        De Woo-Knop is een permanente en publieke database met Woo-verzoeken.
        Een vraag die voor jou niet meer relevant lijkt, kan nog steeds nuttig
        zijn voor anderen. Ook om in te schatten of een verzoek al eerder
        ingediend en beantwoord is. Daarom verwijderen we geen verzoeken.
      </p>

      <p>
        In uitzonderlijke gevallen kunnen we je naam of andere persoonlijke
        gegevens verwijderen of aanpassen, zie ook
        <a href="#takedown">volgende vraag</a>.
      </p>

      <p>
        Zie ook: ‘<a href="#real_name">Kan ik een vraag om openbaarheid
        indienen onder een pseudoniem?</a>’.
      </p>
    </dd>

    <dt id="takedown">Kunnen jullie mijn persoonlijke gegevens verwijderen? <a href="#takedown">#</a> </dt>
    <dd>

      <p>
        Als je persoonlijke info op de site terugvindt die je liever verwijderd
        of aangepast ziet, aarzel dan niet dit <%= link_to 'ons te laten
        weten', help_contact_path %>.
      </p>

      <p>
        Gevoelige informatie die per ongeluk openbaar is gemaakt, verwijderen
        we.
      </p>

      <p>
        Wij zijn van mening dat het behoud van namen van ambtenaren en andere
        personeelsleden van de overheid van openbaar belang kan zijn. We gaan
        ervanuit dat de overheid bij de beslissing tot openbaarmaking deze
        afweging al heeft gemaakt. We verwijderen alleen namen van ambtenaren
        en andere personeelsleden van de overheid in uitzonderlijke gevallen,
        zoals wanneer de publicatie van een naam en functie een reële
        bedreiging vormt voor de veiligheid van een individu. Als je je in deze
        situatie bevindt, en je wenst je naam verwijderd te zien, dien dan een
        verzoek hiertoe in. Dit verzoek moet aantonen dat de bedreiging groter
        is dan het belang van openbaarheid en dat de organisatie dus ook de
        naam (en functie) uit de documenten op haar eigen website verwijderd
        heeft.
      </p>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>
</div>
