<% @title = 'Voor Pro-gebruikers' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="pro">
    <%= @title %>
  </h1>

  <p>
    Voor Pro-gebruikers, zoals journalisten, zijn er twee extra functies die
    het gebruik van de Woo-Knop aantrekkelijk maken:
  </p>

  <ul>
    <li><%= link_to 'Afgeschermde verzoeken', '#private-requests' %></li>
    <li><%= link_to 'Bulkverzoeken', '#batch' %></li>
  </ul>

  <p>
    De Woo-Knop is in Europa een van de eerste websites waarop deze functies
    gebruikt kunnen worden. Op dit moment zijn aan zo’n account geen kosten 
    verbonden. Pro-gebruikers kunnen zich bij de beheerders melden om een 
    <%= link_to 'Pro-account', account_request_index_path %> te
    krijgen. Ook als je vragen of opmerkingen hebt, neem gerust
    <%= link_to 'contact met ons op', help_contact_path %>.
  </p>

  <h2 id="private-requests">
    Afgeschermde verzoeken
    <a href="#private-requests">#</a>
  </h2>

  <p>
    Wij begrijpen dat gescoopt worden de nachtmerrie van elke journalist is.
    Ook om andere redenen kan het prettig zijn om nog even niet te laten weten
    met welk onderzoek je bezig bent. Journalisten en anderen met een
    Pro-account kunnen daarom een periode instellen waarbinnen ze hun
    Woo-verzoek voor andere gebruikers van de Woo-Knop afschermen.
    Tegelijkertijd is het prettig dat je er zelf voor kunt zorgen dat de
    documenten direct na je publicatie beschikbaar zijn voor anderen die jouw
    claims willen verifiëren.
  </p>

  <p>
    Als je kiest voor een afgeschermd verzoek heb je de garantie dat in de door
    jou geselecteerde periode alleen jij het verzoek en alle bijbehorende
    correspondentie kunt zien. Weliswaar kunnen ook de beheerders van de
    Woo-Knop het verzoek bekijken, maar dat zullen ze alleen doen als dat nodig
    is om een technisch probleem te verhelpen. In geen geval zullen ze de
    inhoud van je verzoek met derden delen.
  </p>

  <h3 id="how-long-can-i-keep-requests-private">
    Hoe lang kan ik mijn verzoek afschermen?
    <a href="#how-long-can-i-keep-requests-private">#</a>
  </h3>

  <p>
    Je kunt je verzoek afschermen voor periodes van 3, 6 of 12 maanden.
  </p>

  <p>
    <%= image_tag 'alaveteli-pro/screenshot-embargo.jpg',
                  alt: 'Adding a privacy period' %>
  </p>

  <p>
    Een week voor het verlopen van de gekozen periode ontvang je bericht. Op de
    dag dat de periode daadwerkelijk eindigt ontvang je opnieuw bericht. Op dat
    moment worden je verzoek en de bijbehorende correspondentie
    <%= link_to 'automatisch zichtbaar',
      help_privacy_path(anchor: 'public_request') %>
    op de site. Ook je naam wordt dan zichtbaar.
  </p>

  <h3 id="i-need-more-time-can-i-extend-a-privacy-period">
    Ik heb meer tijd nodig. Kan ik verlengen?
    <a href="#i-need-more-time-can-i-extend-a-privacy-period">#</a>
  </h3>

  <p>
    Ja. Je kunt de periode waarin je verzoek wordt afgeschermd zo vaak
    verlengen als je wilt, maar dit kan alleen in de week voorafgaand aan het
    verlopen van de huidige periode. Zoals gezegd ontvang je hierover aan het
    begin van deze week bericht.
  </p>

  <p>
    <%= image_tag 'alaveteli-pro/screenshot-embargo-extension.jpg',
                  alt: 'Extending a privacy period' %>
  </p>

  <h3 id="how-do-i-publish-a-request">
    Hoe maak ik mijn verzoek zichtbaar op de site?
    <a href="#how-do-i-publish-a-request">#</a>
  </h3>

  <p>
    Je kunt er op ieder gewenst moment voor kiezen je verzoek en de verkregen
    documenten zichtbaar te maken door op ‘Publiceer verzoek’ te klikken.
  </p>

  <p>
    <%= image_tag 'alaveteli-pro/screenshot-embargo-publish.jpg',
                  alt: 'Publish a request' %>
  </p>

  <h3 id="can-i-make-private-batch-requests">
    Kan ik bulkverzoeken ook afschermen?
    <a href="#can-i-make-private-batch-requests">#</a>
  </h3>

  <p>
    Ja, op dezelfde manier als bij enkelvoudige verzoeken. Maar je kunt alleen
    het bulkverzoek als geheel afschermen, niet afzonderlijk per deelverzoek.
    Hetzelfde geldt voor verlengingen.
  </p>

  <h2 id="batch">
    Bulkverzoeken
    <a href="#batch">#</a>
  </h2>

  <p>
    Met de optie Bulkverzoeken stuur je eenvoudig een reeks identieke verzoeken
    naar meerdere overheidsinstanties.
  </p>

  <h3 id="how-do-i-make-a-batch-request">
    Hoe doe ik een bulkverzoek?
    <a href="#how-do-i-make-a-batch-request">#</a>
  </h3>

  <p>
    Als je voor een bulkverzoek kiest, selecteer stel je een lijst met
    overheidsinstanties samen en formuleer je één standaardverzoek. Elke
    overheidsinstantie ontvangt zelfstandig een verzoek per mail.
  </p>

  <p>
    <%= image_tag 'alaveteli-pro/screenshot-batch-selection.jpg',
                  alt: 'Select authorities for a batch' %>
  </p>

  <p>
    <%= image_tag 'alaveteli-pro/screenshot-batch-write.jpg',
                  alt: 'Write a batch template' %>
  </p>

  <h3 id="how-do-i-manage-a-batch-request">
    Hoe beheer ik mijn bulkverzoek?
    <a href="#how-do-i-manage-a-batch-request">#</a>
  </h3>

  <p>
    De voortgang van je bulkverzoek wordt bijgehouden in een handige
    overzichtspagina. Hier kun je eenvoudig monitoren of en hoe de
    overheidsinstanties gereageerd hebben. Je kunt van daaruit doorklikken naar
    de deelverzoeken om te reageren op berichten van de overheidsinstanties en
    andere vervolgacties te ondernemen.
  </p>

  <p>
    <%= image_tag 'alaveteli-pro/screenshot-batch-list.jpg',
                  alt: 'Managing batch requests' %>
  </p>

  <h3 id="how-do-i-manage-batch-privacy-periods">
    Hoe scherm ik bulkverzoeken af?
    <a href="#how-do-i-manage-batch-privacy-periods">#</a>
  </h3>

  <p>
    Je kunt bulkverzoeken eenvoudig afschermen, op dezelfde wijze als
    enkelvoudige verzoeken, maar je kunt alleen een periode kiezen voor het
    gehele bulkverzoek, niet per deelverzoek.
  </p>

  <p>
    <%= image_tag 'alaveteli-pro/screenshot-batch-privacy.jpg',
                  alt: 'Manage batch privacy' %>
  </p>

  <h3 id="how-many-authorities-can-i-add-to-a-batch">
    Bij hoeveel overheidinstanties kan ik gelijktijdig een bulkverzoek indienen?
    <a href="#how-many-authorities-can-i-add-to-a-batch">#</a>
  </h3>

  <p>
    Het maximum aantal overheidsinstanties per bulkverzoek is
    <%= AlaveteliConfiguration.pro_batch_authority_limit %>.
  </p>

  <h3 id="how-many-batch-requests-can-i-make">
    Is er een grens aan het aantal bulkverzoeken dat ik kan doen?
    <a href="#how-many-batch-requests-can-i-make">#</a>
  </h3>

  <p>
    Voor Pro-gebruikers is er geen absolute limiet aan het aantal
    bulkverzoeken, maar zij zijn net als alle gebruikers wel verplicht om zich
    te houden aan onze <%= link_to 'richtlijnen voor een verantwoord gebruik',
      help_requesting_path(anchor: 'responsible') %> van de Woo-Knop.
  </p>

  <p>
    Overigens is het aan te raden om bij elk bulkverzoek te beginnen met een
    paar proefverzoeken, om te kijken of ze effectief zijn. Pas als je weet dat
    deze verzoeken inderdaad de data opleveren waarnaar je op zoek bent, ga je
    over tot het bulkverzoek.
  </p>
</div>
