<% @title = 'Stap voor stap' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1><%= @title %></h1>

  <h2>
    Voordat je begint
  </h2>

  <ul>
    <li>
      <strong>Welke informatie</strong> Denk goed na over welke informatie je
      zoekt. Als je precies weet welke documenten je zoekt, vraag dan in ieder
      geval naar die specifieke documenten. Weet je dat niet, probeer het
      onderwerp waarover je documenten zoekt zo helder mogelijk voor jezelf te
      omschrijven.
    </li>

    <li>
      <strong>Welke overheid</strong> Vraag je af bij welke overheidsinstantie
      de informatie te vinden is. Onder de knop ‘Zoek overheidsinstantie’ kun
      je de overheidsinstanties vinden die relevant zouden kunnen zijn voor
      jouw Woo-verzoek.
    </li>

    <li>
      <strong>Al openbaar?</strong> Check of de informatie al openbaar gemaakt
      is. Overheden moeten  namelijk ook overheidsinformatie uit eigen beweging
      publiceren, dit wordt ‘actieve openbaarmaking’ genoemd en wordt ook
      geregeld in de Woo. Het is de bedoeling dat alle Nederlandse overheden
      uit eigen beweging documenten beschikbaar gaan maken via één landelijke
      site, ook wel <a href="https://open.overheid.nl/">PLOOI</a> genoemd. Maar
      denk ook aaneerder opgevraagdeoverheidsdocumenten die gepubliceerd zijn op
      <a
        href="https://www.rijksoverheid.nl/documenten">rijksoverheid.nl</a>
      en andere overheidswebsites die openbaar gemaakte documenten publiceren,
      zoals de <a
        href="https://www.politie.nl/themas/wet-openbaarheid-van-bestuur-wob.html">politie</a>
      of het <a
        href="https://www.om.nl/organisatie/wet-openbaarheid/openbaar-gemaakte/">Openbaar
        Ministerie</a>.
    </li>

    <li>
      <strong>Al op de Woo-Knop?</strong> Doorzoek de database met eerdere
      Woo-verzoeken die via de Woo-Knop zijn gedaan om te kijken of iemand
      anders de documenten die je zoekt al ontvangen heeft.
    </li>
  </ul>

  <h2 id="step-1">
    Stap 1. Naar de Woo-Knop
  </h2>

  <p>
    Klik in de menu-balk op
    ‘<%= link_to 'Doe een verzoek', select_authority_path %>’.
  </p>

  <h2 id="step-2">
    Stap 2. Kies een overheid
  </h2>

  <p>
    Typ de naam van de overheidsinstantie in het lege vakje. Als je niet
    precies weet hoe de overheidsinstantie heet, of bij welke overheid de
    informatie te vinden is, kun je ook andere zoektermen gebruiken. Je krijgt
    nu een lijst met een of meer zoekresultaten te zien. Je zult zien dat er
    veel meer organisaties onder de werking van de Woo vallen dan je dacht!
    Kies een overheidsinstantie uit de lijst en klik ernaast op de knop ‘Doe
    een verzoek’.
  </p>

  <p>
    Je krijgt nu het verzoekformulier te zien.
  </p>

  <h2 id="step-3">
    Stap 3. Omschrijf je onderwerp
  </h2>

  <p>
    Vul in het bovenste vakje een korte omschrijving van je Woo-verzoek in,
    niet meer dan één regel. Dit is het onderwerp van je verzoek. Bedenk dat je
    alleen informatie kunt vragen die iets te maken heeft met de taken van de
    overheid, niet over privé-aangelegenheden van ambtenaren.
  </p>

  <p>
    De site zal mogelijk suggesties doen van
    <%= link_to 'bestaande Woo-verzoeken',
      request_list_path(anchor: 'results') %>
    dezelfde titel. Hieruit kun je inspiratie opdoen voor je eigen omschrijving
    of zelfs, toch nog, de informatie vinden die je zocht.
  </p>

  <h2 id="step-4">
    Stap 4. Bedenk het volgende
  </h2>

  <p>
    In de kantlijn zie je twee waarschuwingen:
  </p>

  <ol>
    <li>
      <p>
        Alles wat je op deze pagina invult, ook <strong>je naam</strong>,
        verschijnt <strong>voor iedereen zichtbaar</strong> op deze site, voor
        altijd.
      </p>

      <p>
        Op die manier voorkomen we dubbele verzoeken en zorgen we dat
        geopenbaarde informatie voor iedereen toegankelijk is. Er kunnen
        uitzonderlijke redenen zijn om niet met je echte naam zichtbaar te
        willen zijn.
      </p>
    </li>

    <li>
      <p>
        <strong>Kan ik informatie over mezelf vragen?</strong>
      </p>

      <p>
        Nee, het is niet verstandig om informatie over jezelf via de Woo-Knop
        op te vragen. Dergelijke informatie past niet bij het publiek
        toegankelijke karakter van deze website.
      </p>
    </li>
  </ol>

  <p>
    Bedenk of deze waarschuwingen op jouw verzoek van toepassing zijn.
  </p>

  <h2 id="step-5">
    Stap 5. Schrijf het verzoek
  </h2>

  <p>
    In het grote vak schrijf je je verzoek. Er staan al een aantal tekstblokjes
    die in elk Woo-verzoek nuttig zijn. In de ruimte ertussen schrijf je op
    welke informatie of specifieke documenten je zoekt.
  </p>

  <p>
    Zie de <%= link_to 'veelgestelde vragen', help_faqs_path %> voor meer tips.
  </p>

  <p>
    Je kunt voor het genereren van je Woo-verzoek ook gebruik maken van de
    Woo-generator. Kopieer dan na het opslaan van het document de tekst van je
    verzoek en plak de tekst in het grote vak.
  </p>

  <h2 id="step-6">
    Stap 6. Zet je naam onder je verzoek
  </h2>

  <p>
    Schrijf je voornaam (of je voorletters) en je achternaam onderaan de brief.
    Bij het digitaal indienen van een Woo-verzoek zoals via de Woo-Knop is een
    handtekening niet nodig.
  </p>

  <h2 id="step-7">
    Stap 7. Controleer je verzoek
  </h2>

  <p>
    Klik op ‘Controleer je verzoek’ en wijzig eventueel je verzoek via de knop
    ‘Wijzig je verzoek’.
  </p>

  <h2 id="step-8">
    Stap 8. Verzend je verzoek
  </h2>

  <p>
    Als je al bent ingelogd zal je verzoek direct verstuurd worden als je op
    ‘Verzenden’ drukt.
  </p>

  <p>
    Gebruik je de Woo-Knop voor het eerst?
    <%= link_to 'Meld je dan', signin_path %> aan als gebruiker. Vul in ieder
    geval je naam, voornaam, e-mailadres en wachtwoord in. Er zal dan een
    bevestigingsmail naar je e-mailadres worden gestuurd. Klik op de
    bevestigingslink in het e-mailbericht. Als de bevestigingsmail niet in je
    inbox verschijnt, check dan ook even je spamfolder.
  </p>

  <p>
    Zie voor andere zaken waar je tegenaan kunt lopen in deze fase de
    <%= link_to 'Veelgestelde Vragen-pagina', help_faqs_path %>
  </p>

  <li>
    Vraag waar mogelijk naar <strong>documenten</strong>, in plaats van naar
    informatie. Onder ‘documenten’ vallen alle ‘gegevensdragers’ zoals digitale
    bestanden, e-mails, databestanden, sms’jes en WhatsAppjes.
  </li>

  <li>
    Wees <strong>nauwkeurig</strong> en <strong>duidelijk</strong>, de
    ambtenaar die je verzoek behandelt moet het kunnen begrijpen.
  </li>

  <li>
    <strong>Beperk je tot het informatieverzoek</strong>, meningen over het
    beleid en de redenen voor je verzoek horen niet in het verzoek thuis.
  </li>

  <li>
    Houd je verzoek <strong>zo kort mogelijk</strong>.
  </li>

  <li>
    Vraag <strong>ook niet</strong> teveel informatie tegelijk. Zo voorkom je
    dat de beslissing op je verzoek te lang duurt.
  </li>

  <li>
    Gebruik <strong>geen beledigende taal</strong>.
  </li>

  <li>
    Schrijf niets waarvan je niet wilt dat het gepubliceerd wordt. Wijd niet uit
    over <strong>persoonlijke problemen of informatie</strong>. Alle verzoeken
    worden immers gepubliceerd op de site.
  </li>

  <li>
    Het is <strong>niet verplicht om de reden of het belang van je
      verzoek</strong> te geven, je hoeft hier dus niets over te vermelden en
    ook later geen verantwoording over af te leggen.
  </li>

  <div id="hash_link_padding"></div>
</div>
