<% @title = "Geen antwoord?" %>


<% if @info_request %>
  <h1>Unhappy about the response you got
    to your request '<%=request_link(@info_request) %>'?
  </h1>
<% else %>
  <h1><%= @title %></h1>
<% end %>

<h2>Wanneer krijg ik antwoord?</h2>

<p>
  Als het goed is ontvang je binnen een week een ontvangstbevestiging van de
  overheid.
</p>

<p>
  Overheidsinstanties zijn wettelijk verplicht om <strong>binnen 4
  weken</strong> op je verzoek te beslissen. Helaas zijn daar een aantal
  uitzonderingen op.
</p>

<p>
  <ol>
    <li>
      de overheidsinstantie kan de beslissing met <strong>nog eens 4
      weken</strong> uitstellen, als de beantwoording van het verzoek meer tijd
      kost. Hier wordt vaak, haast automatisch, gebruik van gemaakt.
    </li>

    <li>
      Als anderen nadeel zouden kunnen ondervinden van het openbaar maken van de
      informatie, moet de overheidsinstantie hen <strong>enkele weken</strong>
      de gelegenheid geven om tegen de openbaarmaking bezwaar te maken. Denk
      bijvoorbeeld aan informatie over bedrijfsgeheimen: het betreffende bedrijf
      wordt dan in de gelegenheid gesteld om een zienswijze te geven of de
      informatie wel of niet openbaar mag worden.
    </li>
  </ol>
</p>

<p>
  De Wob-Knop stuurt je automatisch een herinnering als een van deze termijnen
  verstrijkt zonder dat je antwoord hebt ontvangen. De ontvangstbevestigingen en
  uitstelbrieven ontvang je rechtstreeks in je mailbox.
</p>


<h2>Wat als ik geen ontvangstbevestiging krijg?</h2>

<p>
  Als je niet <strong>binnen een week</strong> een ontvangstbevestiging gekregen
  hebt, kan dat betekenen dat de overheid je verzoek niet ontvangen of niet
  gezien heeft.
</p>

<p>
  <ol>
    <li>
      Check op de pagina met al je verzoeken of er <strong>een groen
      vinkje</strong> staat naast het verzoek. Je kunt er dan zeker van zijn dat
      het verzoek is aangekomen op het mailadres van het overheidsorgaan. Het is
      wel mogelijk dat het verzoek in hun spamfilter terecht is gekomen.
    </li>

    <li>
      Stuur een <strong>reminder</strong> met behulp van de knop ‘Acties’ /
      ‘Beantwoorden’ direct onder je verzoek en vraag om een
      ontvangstbevestiging.
    <li>

    </li>
      <strong>Bel</strong> met het overheidsorgaan. Soms is er een
      gespecialiseerde Wob-ambtenaar om je te woord te staan. Vraag of ze het
      verzoek hebben gezien. Zo niet, vraag dan of het misschien in hun
      spamfilter terecht is gekomen. Als dit overheidsorgaan nog geen ervaring
      heeft met verzoeken via de Wob-Knop, verwijs ze dan naar de Veelgestelde
      vragen voor Wob-ambtenaren-pagina.
    </li>
  </ol>
</p>

<h2>Wat als ik geen (tijdig) antwoord krijg?</h2>

<p>
  Als je na 4 weken nog geen antwoord of een uitstelbrief hebt ontvangen stuurt
  de Wob-Knop je automatisch een herinnering dat de termijn verstreken is.
  Hetzelfde geldt voor de tweede termijn van 4 weken en de termijn waarbinnen
  andere belanghebbenden de gelegenheid krijgen om hun zienswijze te geven.
</p>

<p>
  <ol>
    <li>
      Check op de pagina met al je verzoeken of er <strong>een groen
      vinkje</strong> staat naast het verzoek. Je kunt er dan zeker van zijn dat
      het verzoek is aangekomen op het mailadres van het overheidsorgaan. Het is
      wel mogelijk dat het verzoek in hun spamfilter terecht is gekomen.
    </li>

    <li>
      Stuur een <strong>reminder</strong> met behulp van de knop ‘Acties’ /
      ‘Beantwoorden’ direct onder je verzoek en herinner het overheidsorgaan
      eraan dat de termijn verstreken is. Als de eerste termijn van 4 weken is
      verstreken zonder dat je een uitstelbrief hebt ontvangen, verzoek dan om
      een formele uitstelbrief te ontvangen.
    </li>

    <li>
      <strong>Bel</strong> met het overheidsorgaan. Soms is er een
      gespecialiseerde Wob-ambtenaar om je te woord te staan. Vraag om die
      persoon te spreken. Vraag of ze het verzoek hebben gezien. Zo niet, vraag
      dan of het misschien in hun spamfilter terecht is gekomen. Als dit
      overheidsorgaan nog geen ervaring heeft met verzoeken via de Wob-Knop,
      verwijs ze dan naar de Veelgestelde vragen voor Wob-ambtenaren-pagina op
      de site. Bespreek met de ambtenaar of die een inschatting kan geven van de
      te verwachten datum waarop zal worden besloten op je verzoek. Als je met
      deze datum tevreden bent, vraag om een schriftelijke bevestiging via
      ‘Acties’ / ‘Beantwoorden’ van de Wob-Knop.
    </li>

    <li>
      Weigert de ambtenaar een datum te noemen of ben je het niet eens met de
      datum? Overweeg dan rechtstreeks bij de rechtbank van je woonplaats
      <strong>in beroep</strong> te gaan tegen het niet (tijdig) nemen van de
      beslissing. Zie de pagina over Bezwaar &amp; Beroep voor meer informatie.
    </li>
  </ol>
</p>

<p>
  Klik op ‘Hoe het werkt’ in het menu voor meer informatie over Wobben, het
  schrijven van een Wob-verzoek en informatie over de fase na het versturen van
  een Wob-verzoek.
</p>

<hr />

<h2 id="internal_review">Bezwaar</h2>

<h3>
  Wat als ik geen ontvangstbevestiging krijg?
</h3>

<p>
  Als je niet binnen een week een ontvangstbevestiging gekregen hebt, kan dat
  betekenen dat de overheid je verzoek niet ontvangen of niet gezien heeft.
</p>

<ol>
  <li>
    Check op de pagina met al je verzoeken of er een groen vinkje staat naast
    het verzoek. Je kunt er dan zeker van zijn dat het verzoek is aangekomen op
    het mailadres van het overheidsorgaan. Het is wel mogelijk dat het verzoek
    in hun spamfilter terecht is gekomen.
  </li>

  <li>
    Stuur een reminder met behulp van de knop ‘Acties’ / ‘Beantwoorden’ direct
    onder je verzoek en vraag om een ontvangstbevestiging.
  </li>

  <li>
    Bel met het overheidsorgaan. Soms is er een gespecialiseerde Wob-ambtenaar
    om je te woord te staan. Vraag of ze het verzoek hebben gezien. Zo niet,
    vraag dan of het misschien in hun spamfilter terecht is gekomen. Als dit
    overheidsorgaan nog geen ervaring heeft met verzoeken via de Wob-Knop,
    verwijs ze dan naar de <%= link_to 'Veelgestelde vragen voor
    Wob-ambtenaren', help_meer_info_voor_wob_ambtenaren_path %>-pagina.
  </li>
</ol>

<h3>
  Wat als ik geen (tijdig) antwoord krijg?
</h3>

<p>
  Als je na 4 weken nog geen antwoord of een uitstelbrief hebt ontvangen stuurt
  de Wob-Knop je automatisch een herinnering dat de termijn verstreken is.
  Hetzelfde geldt voor de tweede termijn van 4 weken en de termijn waarbinnen
  andere belanghebbenden de gelegenheid krijgen om hun zienswijze te geven.
</p>

<ol>
  <li>
    Check op de pagina met al je verzoeken of er een groen vinkje staat naast
    het verzoek. Je kunt er dan zeker van zijn dat het verzoek is aangekomen op
    het mailadres van het overheidsorgaan. Het is wel mogelijk dat het verzoek
    in hun spamfilter terecht is gekomen.
  </li>

  <li>
    Stuur een reminder met behulp van de knop ‘Acties’ / ‘Beantwoorden’ direct
    onder je verzoek en herinner het overheidsorgaan eraan dat de termijn
    verstreken is. Als de eerste termijn van 4 weken is verstreken zonder dat
    je een uitstelbrief hebt ontvangen, verzoek dan om een formele uitstelbrief
    te ontvangen.
  </li>

  <li>
    <p>
      Bel met het overheidsorgaan. Soms is er een gespecialiseerde
      Wob-ambtenaar om je te woord te staan. Vraag om die persoon te spreken.
      Vraag of ze het verzoek hebben gezien. Zo niet, vraag dan of het
      misschien in hun spamfilter terecht is gekomen. Als dit overheidsorgaan
      nog geen ervaring heeft met verzoeken via de Wob-Knop, verwijs ze dan
      naar de <%= link_to 'Veelgestelde vragen voor Wob-ambtenaren',
      help_meer_info_voor_wob_ambtenaren_path %>-pagina op de site.
    </p>

    <p>
      Bespreek met de ambtenaar of die een inschatting kan geven van de te
      verwachten datum waarop zal worden besloten op je verzoek. Als je met
      deze datum tevreden bent, vraag om een schriftelijke bevestiging via
      ‘Acties’ / ‘Beantwoorden’ van de Wob-Knop.
    </p>
  </li>

  <li>
    Weigert de ambtenaar een datum te noemen of ben je het niet eens met de
    datum? Overweeg dan rechtstreeks bij de rechtbank van je woonplaats in
    beroep te gaan tegen het niet (tijdig) nemen van de beslissing. Zie de
    pagina over <%= link_to 'Bezwaar & Beroep', help_bezwaar_en_beroep_path %>
    voor meer informatie.
  </li>
</ol>

<h3>
  Wat als ik niet de informatie ontvang die ik wilde hebben?
</h3>


<p>
  De Wet Openbaarheid van Bestuur heeft als uitgangspunt dat
  overheidsinformatie openbaar moet worden gemaakt als je daar om vraagt. Daar
  zijn wel een aantal uitzonderingen op. Sommige documenten zul je daarom niet
  of slechts gedeeltelijk krijgen.
</p>

<p>
  Als je de informatie die je hebt gevraagd niet hebt ontvangen, overweeg dan
  de volgende stappen:
</p>

<ol>
  <li>
    Vraag het overheidsorgaan om een samenvatting te maken van de stukken die
    je niet hebt gekregen. Hier heb je geen recht op, maar als het verdere
    procedures kan voorkomen zijn ambtenaren hier soms toe bereid.
  </li>

  <li>
    Gebruik de informatie in de documenten die je wel ontvangen hebt om een
    nieuw verzoek te doen gericht op specifiekere informatie of gericht aan een
    ander overheidsorgaan.
  </li>

  <li>
    Ga in <%= link_to 'bezwaar', help_bezwaar_en_beroep_path %> tegen de
    beslissing.
  </li>
</ol>

<h2 id="other_means">Denk ook eens aan…</h2>

<ul>
  <% if can_ask_the_eu?(@country_code) %>
    <li>
      Denk ook eens aan <%= link_to 'een Wob-verzoek bij de Europese Unie',
      'https://www.asktheeu.org' %>. Elk van de 500 miljoen mensen (zowel
      burgers als bewoners) die binnen de Europese Unie leven, heeft een
      wettelijk recht om de EU-instanties om informatie te vragen. <%=
      link_to 'Ask The EU', 'http://www.asktheeu.org' %> is het Europese
      equivalent van de Wob-Knop, voor het versturen van soortgelijke
      informatieverzoeken.
    </li>
  <% end %>
</ul>
